<!-- loader start -->
<div class="opti_loader opti_loader-module-grid-list" *ngIf="showLoader">
    <div class="opti_spinner"></div>
</div>
<!-- loader end --> 

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
    <div class="opti_module-title">{{page_main_title}}</div>
</div>

<div class="card mb-3 opti_global-table-view">
    <div class="card-body">

        <div class="container-fluid">
            <div class="row" style="margin-bottom:6px;">
                <div class="col-sm-6 p-0" style="margin-top: 2px;">
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                            <button type="button" routerLink="{{add_route_link}}" class="mr-10 btn btn-sm btn-outline-primary">
                                <i class="fa fa-plus fa-fw"></i> {{language.add}}
                            </button>
                            <button type="button" class="mr-10 btn btn-sm btn-outline-danger" (click)="delete()">
                                <i class="fa fa-trash fa-fw"></i> {{language.delete}}
                            </button>
                            <!-- <button type="button" (click)="openImportPopup()" class="mr-10 btn btn-sm btn-outline-dark" data-toggle="modal" data-target="#import_modal"
                                *ngIf="showImportButton">
                                <i class="fa fa-plus fa-fw"></i> {{language.import}}
                            </button> -->
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 p-0">
                    <div class="float-right">
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="opti_grid-table-outer">
            <div class="opti_pagelimit-container"><kendo-dropdownlist [data]="listItems" (selectionChange)="getcurrentPageSize($event)" [(ngModel)]="selectedValue"></kendo-dropdownlist></div>
            <kendo-grid [kendoGridBinding]="dataArray" [filterable]="isColumnFilter" [selectable]="true" [pageSize]="selectedValue" [pageable]="true" [resizable]="true"  (selectionChange)="on_selection($event)" >
                <ng-template kendoGridToolbarTemplate>
                   <form class="k-form opti_show-hide-grid-column-filter float-left opti_hide-in-mobile p-0">
                        <div class="custom-control custom-checkbox float-left">
                            <input #chkFilter type="checkbox" id="columnFilter" [(ngModel)]="isColumnFilter" (change)="saveFilterState()"
                                class="custom-control-input" name="columnfilter" />
                            <label class="custom-control-label" for="columnFilter">  {{language.enable_filter}}</label>
                        </div>
                    </form>
                </ng-template>

                <kendo-grid-column field="checkbox" title="checkbox" filter="numeric" [width]="60" [minResizableWidth]="60" [filterable]="false">
                    <ng-template kendoGridHeaderTemplate let-column let-rowIndex="rowIndex">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="parent_checkbox" #Selectallcheckedvalue (change)="on_Selectall_checkbox_checked(Selectallcheckedvalue.checked)"  id="parent_checkbox_{{rowIndex}}"  [checked]=selectall class="custom-control-input">
                            <label class="custom-control-label" for="parent_checkbox_{{rowIndex}}"></label>
                       </div>
                    </ng-template>
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="child_checkbox" #checkedvalue  (change)="on_checkbox_checked(checkedvalue.checked,dataItem)" [checked]=selectall id="child_checkbox_{{rowIndex}}" class="custom-control-input">
                            <label class="custom-control-label" for="child_checkbox_{{rowIndex}}"></label>
                            </div>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column *ngFor="let column of columns" field="{{column.field}}" title="{{column.title}}" filter="{{column.type}}"
                                    format="{{column.format}}" width="{{column.width}}" minResizableWidth="{{column.width}}" >
                  <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex" >
                    <ng-container *ngIf="column.attrType == 'link'">

                    <a class="common_grid_link" (click)="button_click1(dataItem)">{{dataItem[column.field]}}</a>

                    </ng-container>

                    <ng-container *ngIf="column.attrType == 'text'">{{dataItem[column.field]}}</ng-container>
                  </ng-template>
                </kendo-grid-column>

                <kendo-grid-column field="action" title="Action" filter="numeric" [width]="120" [minResizableWidth]="120" [filterable]="false">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <button type="button" class="btn btn-sm mr-10 {{button1_color}}" *ngIf="show_button1" (click)="button_click1(dataItem)" title="{{button1_title}}">
                            <i class="{{button1_icon}}"></i>
                        </button>
                        <button type="button" class="btn btn-sm mr-10 {{button2_color}}" *ngIf="show_button2" (click)="button_click2(dataItem)" title="{{button2_title}}">
                            <i class="{{button2_icon}}"></i>
                        </button>
                    </ng-template>
                </kendo-grid-column>
            </kendo-grid>
        </div>
    </div>
</div>

<!--Custom Dialog-->
<app-custom-dialogs *ngIf="show_dialog" [dialogParams]="dialog_params" (userSelectionValue)="get_dialog_value($event)"></app-custom-dialogs>

<app-lookup [lookupfor]='lookupfor' [serviceData]='serviceData' (lookupvalue)="getLookupValue($event) " [selectedImage]="selectedImage"></app-lookup>
