<!-- confirm dialog modal -->
<div class="modal custom_modal_confirm_box" id="custom_dialog_box" tabindex="-1" role="dialog" aria-labelledby="custom_dialog_box" aria-hidden="true"
    data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog  modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="custom_dialog_box_title">Confirm Action</h5>
            </div>
            <div class="modal-body custom_height_width">
              Are You Sure You want to continue ? 
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-danger mr-10" type="button">
                    <i class="fa fa-transh"></i> Delete 
                  </button>
                <button class="btn btn-sm btn-secondary mr-10" type="button">
                    <i class="fa fa-close"></i> Cancel 
                </button>
            </div>
            </div>
        </div>
    </div>
