<div class="card mb-3">

  <div class="">
    <div class="form-box">
      <form role="form" action="" method="post" class="f1">
        <h3 class="app_title_heading">
          <b>{{language.config_wizard}}</b>
        </h3>
        <div class="f1-steps">
          <div class="f1-progress">
            <div class="f1-progress-line" data-now-value="25%" data-number-of-steps="4" style="width: 25%;"></div>
          </div>
          <div id="customer_details" class="f1-step active f1-step_middle">
            <div class="f1-step-icon">
              <i class="fa fa-user"></i>
            </div>
            <p>{{language.select_customer}}</p>
          </div>
          <div id="model_bom_config" class="f1-step f1-step_middle">
            <div class="f1-step-icon">
              <i class="fa fa-sitemap"></i>
            </div>
            <p>{{language.select_model_bom_config}}</p>
          </div>
          <div id="accept_bom_so" class="f1-step f1-step_middle">
            <div class="f1-step-icon">
              <i class="fa fa-check-circle"></i>
            </div>
            <p>{{language.verify_select_accept}}</p>
          </div>
          <div id="fina_doc_create" class="f1-step f1-step_middle">
            <div class="f1-step-icon">
              <i class="fa fa-eye"></i>
            </div>
            <p>{{language.fianl_document_creat}}</p>
          </div>
        </div>
        <fieldset class="one_step_block" data-block_id="customer_details" style="display:block">
          <div class="wizard_heading_section">
            <div class="row bg-primary pb-1 pt-1 wizard_font">
              <div class="col-md-10 pull-left">
                <i class="fa fa-user fa-fw"></i> {{language.customer_doc_detail}} </div>
              <div class="col-md-2 pull-right text-right"> {{language.step_1_4}} </div>
            </div>
            <hr>
          </div>
          <div class="form_section">
            <div class="row">
              <div class="col-md-7">
                <div class="form-group row clearfix">
                  <label class="col-sm-3 col-form-label" for="customer_doc">{{language.document}}</label>
                  <div class="col-sm-4">
                    <select class="form-control  form-control-sm mt3" name="document" id="document" [(ngModel)]="step1_data.document" (change)="onDocumentChange(document.value)"
                      #document>
                      <option *ngFor="let v of doctype" [value]="v.value" [selected]="document.value==v.value"> {{v.Name}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-5">
                <div class="form-group row clearfix">
                  <label class="col-sm-4 col-form-label" for="posting_date" class="col-sm-4 col-form-label">{{language.posting_date}}</label>
                  <div class="col-sm-8 input-group">
                    <input [owlDateTimeTrigger]="dt12" [owlDateTime]="dt12" [selectMode]="" class="form-control  form-control-sm mt3" name='posting_date'
                      type="text" value="" id="posting_date" name="posting_date" readonly placeholder="{{language.posting_date}}"
                      [(ngModel)]="step1_data.posting_date">
                    <div class="input-group-append">
                      <span class="input-group-text cursor_icon" [owlDateTimeTrigger]="dt12" id="posting_date_icon">
                        <i class="fa fa-calendar"></i>
                      </span>
                    </div>
                    <owl-date-time #dt12 [pickerType]="'calendar'"></owl-date-time>
                  </div>
                </div>
                <div class="form-group row clearfix">
                  <label class="col-sm-4 col-form-label" for="delivery_until" class="col-sm-4 col-form-label">{{document_date}}</label>
                  <div class="col-sm-8 input-group">
                    <input [owlDateTimeTrigger]="dt13" [owlDateTime]="dt13" [selectMode]="" class="form-control  form-control-sm mt3" name='delivery_until'
                      type="text" value="" id="delivery_until" name="delivery_until" readonly placeholder="{{document_date}}"
                      [(ngModel)]="step1_data.delivery_until">
                    <div class="input-group-append">
                      <span class="input-group-text cursor_icon" [owlDateTimeTrigger]="dt13" id="delivery_until_icon">
                        <i class="fa fa-calendar"></i>
                      </span>
                    </div>
                    <owl-date-time #dt13 [pickerType]="'calendar'"></owl-date-time>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-7">
                <div class="form-group row clearfix">
                  <label class="col-sm-3 col-form-label" for="customer_doc">{{language.customer}}</label>
                  <div class="col-sm-4 input-group">
                    <input type="text" ngValue="" class="form-control form-control-sm mt3" (change)="onCustomerChange()" name="customer" id="customer"
                      placeholder="{{language.customer}}" [(ngModel)]="step1_data.customer" #customer>
                    <div class="input-group-append">
                      <span class="input-group-text cursor_icon" id="basic-addon2" (click)="openCustomerLookUp()">
                        <i class="fa fa-bars"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group row clearfix">
                  <label class="col-sm-3 col-form-label" for="customer_doc">{{language.Name}}</label>
                  <div class="col-sm-4">
                    <input type="text" ngValue="" readonly class="form-control  form-control-sm mt3" name="customer_name" id="customer_name"
                      placeholder="{{language.name}}" [(ngModel)]="step1_data.customer_name" #customername>

                  </div>
                </div>
                <div class="form-group row clearfix">
                  <label class="col-sm-3 col-form-label" for="contact_persons">{{language.contact_person}}</label>
                  <div class="col-sm-4">
                    <select class="form-control  form-control-sm mt3" #person name="contact_persons" id="contact_persons" (change)="onContactPersonChange(person.value)">
                      <option [selected]="person == v" *ngFor="let v of contact_persons" [value]="v.Name"> {{v.Name}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row clearfix">
                  <label class="col-sm-3 col-form-label" for="ship_to">{{language.ship_to}}</label>
                  <div class="col-sm-4">
                    <select class="form-control  form-control-sm mt3" #customerShipTo name="ship_to" id="ship_to" (change)="onShipToChange(customerShipTo.value)">
                      <option [selected]="customerShipTo == v" *ngFor="let v of ship_to" [value]="v.ShipToDef"> {{v.ShipToDef}}</option>
                    </select>
                  </div>



                  <label class="col-sm-2 col-form-label" for="ship_to_address">{{language.address}}</label>
                  <div class="col-sm-3">
                    <textarea type="text" ngValue="" readonly class="form-control  form-control-sm mt3" name="ship_to_address" id="ship_to_address"
                      placeholder="{{language.ship_to_address}}" [(ngModel)]="step1_data.ship_to_address" #shipto></textarea>
                  </div>

                </div>
                <div class="form-group row clearfix">
                  <label class="col-sm-3 col-form-label" for="bill_to">{{language.bill_to}}</label>
                  <div class="col-sm-4">
                    <select class="form-control  form-control-sm mt3" #customerBillTo name="bill_to" id="bill_to" (change)="onBillToChange(customerBillTo.value)">
                      <option [selected]="customerBillTo == v" *ngFor="let v of bill_to" [value]="v.BillToDef"> {{v.BillToDef}}</option>
                    </select>
                  </div>

                  <label class="col-sm-2 col-form-label" for="bill_to_address">{{language.address}}</label>
                  <div class="col-sm-3">
                    <textarea type="text" rows="3" readonly ngValue="" class="form-control  form-control-sm mt3" name="bill_to_address" id="bill_to_address"
                      placeholder="{{language.bill_to_address}}" [(ngModel)]="step1_data.bill_to_address" #shipto></textarea>
                  </div>
                </div>
              </div>
              <!-- <div class="col-md-5">
                <div class="form-group row clearfix">
                  <label class="col-sm-4 col-form-label" for="payment_terms">{{language.payment_terms}}</label>
                  <div class="col-sm-8">
                    <input type="text" ngValue="" class="form-control  form-control-sm mt3" name="payment_terms" id="payment_terms" placeholder="{{language.payment_terms}}"
                      [(ngModel)]="step1_data.payment_terms" #paymentterms>

                  </div>
                </div>
                <div class="form-group row clearfix">
                  <label class="col-sm-4 col-form-label" for="payment_method">{{language.payment_method}}</label>
                  <div class="col-sm-8">
                    <input type="text" ngValue="" class="form-control  form-control-sm mt3" name="payment_method" id="payment_method" placeholder="{{language.payment_method}}"
                      [(ngModel)]="step1_data.payment_method" #paymentmethod>

                  </div>
                </div>
                <div class="form-group row clearfix">
                  <label class="col-sm-4 col-form-label" for="attachment">{{language.attachment}}</label>
                  <div class="col-sm-8">
                    <input type="file" ngValue="" class="form-control  form-control-sm mt3" name="attachment" id="attachment" placeholder="{{language.attachment}}"
                      [(ngModel)]="step1_data.attachment" #attachment>

                  </div>
                </div>
              </div> -->
            </div>
            <hr>
            <div class="row">
              <div class="col-md-7">
                <div class="form-group row clearfix">
                  <label class="col-sm-3 col-form-label" for="sales_employee">{{language.sales_employee}}</label>
                  <div class="col-sm-4">
                    <select class="form-control  form-control-sm mt3" #salesemployee name="sales_employee" id="sales_employee" (change)="onSalesPersonChange(salesemployee.value)">
                      <option [selected]="salesemployee == v" *ngFor="let v of sales_employee" [value]="v.SlpName"> {{v.SlpName}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row clearfix">
                  <label class="col-sm-3 col-form-label" for="owner_list">{{language.owner}}</label>
                  <div class="col-sm-4">
                    <!-- <input type="text" ngValue="" readonly class="form-control  form-control-sm mt3" name="owner" id="owner" placeholder="{{language.owner}}"
                      [(ngModel)]="step1_data.owner" #owner> -->
                    <select class="form-control  form-control-sm mt3" #owner name="owner_list" id="owner_list">
                      <option *ngFor="let v of owner_list" [value]="v.value"> {{v.lastName}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row clearfix">
                  <label class="col-sm-3 col-form-label" for="remark">{{language.remark}}</label>
                  <div class="col-sm-4">
                    <textarea type="text" rows="4" ngValue="" class="form-control  form-control-sm mt3" name="remark" id="remark" placeholder="{{language.remark}}"
                      [(ngModel)]="step1_data.remark" #remark> </textarea>

                  </div>
                </div>
              </div>
              <!-- <div class="col-md-5">
                <div class="form-group row clearfix">
                  <label class="col-sm-4 col-form-label" for="tax_code">{{language.tax_code}}</label>
                  <div class="col-sm-8 input-group">
                    <input type="text" ngValue="" class="form-control  form-control-sm mt3" name="tax_code" id="tax_code" placeholder="{{language.tax_code}}"
                      [(ngModel)]="step1_data.tax_code" #taxcode>
                    <div class="input-group-append">
                      <span class="input-group-text cursor_icon" id="basic-addon2" (click)="openTaxCodes()">
                        <i class="fa fa-bars"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
          <div class="f1-buttons">
            <hr>
            <div class="pull-left">
              <button type="button" routerLink="{{view_route_link}}" class="btn btn-sm btn-grey mr-10">
                <i class="fa fa-times fa-fw"></i>
                <span>{{language.cancel}}</span>
              </button>
            </div>
            <button type="button" *ngIf="isNextButtonVisible" class="btn btn-sm btn-primary  mr-10 btn-next btn-sm" data-next-block="model_bom_config">
              <i class="fa fa-arrow-right fa-fw"></i> {{language.next}}</button>
          </div>
        </fieldset>

        <fieldset class="one_step_block" data-block_id="model_bom_config">
          <div class="wizard_heading_section">
            <div class="row bg-primary pb-1 pt-1 wizard_font">
              <div class="col-md-10 pull-left">
                <i class="fa fa-sitemap fa-fw"></i> {{language.model_bill_ofm}} </div>
              <div class="col-md-2 pull-right text-right"> {{language.step_2_4}} </div>
            </div>
            <hr>
          </div>
          <div class="form_section">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group row clearfix">
                  <label class="col-sm-3 col-form-label" for="model">{{language.model}}</label>
                  <div class="col-sm-9 input-group">
                    <input type="hidden" ngValue="" class="form-control  form-control-sm mt3" [(ngModel)]="step2_data.modal_id" name="modelName"
                      id="modelNameId">
                    <input type="text" ngValue="" class="form-control  form-control-sm mt3" name="model" id="model" placeholder="{{language.model}}"
                      [(ngModel)]="step2_data.model_code" #modelcode (change)="onModelCodeChange()">
                    <div class="input-group-append">
                      <span class="input-group-text cursor_icon" id="basic-addon2" (click)="openModalList()">
                        <i class="fa fa-bars"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group row clearfix">
                  <label class="col-sm-3 col-form-label" for="quantity">{{language.quantity}}</label>
                  <div class="col-sm-9">
                    <input type="number" ngValue="" pattern="\d+" class="form-control  form-control-sm mt3 pull-right" name="quantity" id="quantity"
                      placeholder="{{language.quantity}}" [(ngModel)]="step2_data.quantity" #quantity (change)="on_input_change('quantity',quantity.value)"
                      style="text-align:right">

                  </div>
                </div>
                <hr>
                <!-- <div class="form-group row clearfix">
                  <label class="col-sm-3 col-form-label" for="feature">{{language.feature}}</label>
                  <div class="col-sm-9 input-group">
                    <input type="hidden" ngValue="" class="form-control  form-control-sm mt3" [(ngModel)]="step2_data.feature_id" name="featureName"
                      id="featureNameId">
                    <input type="text" ngValue="" class="form-control  form-control-sm mt3" name="feature" id="feature" placeholder="{{language.feature}}"
                      [(ngModel)]="step2_data.feature_code" #featurecode>
                    <div class="input-group-append">
                      <span class="input-group-text cursor_icon" id="basic-addon2" (click)="openFeatureLookUp()">
                        <i class="fa fa-bars"></i>
                      </span>
                    </div>
                  </div>
                </div>
               <div class="form-group row clearfix" *ngFor="let featurechidrow of feature_child_data">
                  <label class="col-sm-3 col-form-label" for="feature2"></label>
                  <div class="col-sm-9 input-group">
                    <input type="text" ngValue="" class="form-control  form-control-sm mt3" name="feature2" id="feature2" placeholder="{{language.feature2}}"
                      value={{featurechidrow.featurechildcode}} #feature2>
                    <div class="input-group-append">
                      <span class="input-group-text cursor_icon" id="basic-addon2" (click)="openChildFeatureLookUp(featurechidrow.featureparentid,featurechidrow.featureparentcode)">
                        <i class="fa fa-bars"></i>
                      </span>
                    </div>
                  </div>
                </div> -->
                <div class="new_tree_structure_area"  *ngIf="tree_data_json.length > 0">
                  <div class="tree well">
                    <ul>
                      <ng-container *ngFor="let element of tree_data_json; let i= index;">
                        <li  class="tree_label_li" *ngIf="element.level == 0 && element.parentId==''">
                          <div class="has_elements" *ngIf="check_component_exist(element.component, i).length > 0">
                            <span class="parent_span"  >
                              <i class=" btn btn-sm expand_cllapse_click fa " data-visible="0"></i>
                              <span class="tree_label">{{element.component}}</span>
                            </span>
                              <formelementstreeview [tree_data_json]="check_component_exist(element.component, i)" [complete_dataset]="tree_data_json"></formelementstreeview>
                          </div>
                          <div *ngIf="check_component_exist(element.component, i).length == 0">
                            <span>
                              <!-- <input type="{{element.element_type}}" name="tree_el_{{element.parentId}}" value="{{element.component}}"> -->
                              <input type="{{element.element_type}}" name="tree_el_{{element.parentId}}" #treeinput (click)="on_element_input_change(element,treeinput.checked)"  [(checked)]="element.checked">
                              <span class="tree_label">{{element.component}}</span>
                            </span>
                          </div>
                          
                        </li>
                      </ng-container>
                    </ul>
                  </div>
                </div>
                <hr>
                <div class="form-group row clearfix">
                  <label class="col-sm-3 col-form-label" for="accessory">{{language.Model_Accessory}}</label>
                  <div class="col-sm-9 ">
                    <table class="table table-bordered table-sm">
                      <thead class="thead-dark">
                        <tr>
                          <th *ngFor="let label of accessory_table_head; let i= index" [hidden]="Accessory_table_hidden_elements[i]">
                            <span *ngIf="i==0">
                              <div class="custom-control custom-checkbox ">
                                <input type="checkbox" id="acccessory_check{{label}}" name="child_checkbox" class="custom-control-input" #accallcheckbox
                                  (click)="selectall(accallcheckbox.checked)">
                                <label class="custom-control-label" for="acccessory_check{{label}}"></label>
                              </div>
                            </span>
                            <span *ngIf="i!=0">
                              {{label}}
                            </span>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="" *ngFor="let row of feature_accessory_list">
                          <td *ngFor="let row_data of Object.keys(row); let i= index" [hidden]="Accessory_table_hidden_elements[i]">
                            <span *ngIf="i==0">
                              <div class="custom-control custom-checkbox ">
                                <input type="checkbox" id="accesory_{{row[row_data]}}" name="child_checkbox" [(checked)]=row.checked #checkedvalue (change)="onAccessoryChange(checkedvalue.checked,row)"
                                  class="custom-control-input">
                                <label class="custom-control-label" for="accesory_{{row[row_data]}}"></label>
                              </div>
                            </span>
                            <span *ngIf="i!=0">
                              {{row[row_data]}}
                            </span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-md-8 border-left-primary">
                <div class="modal_heading_block" *ngIf="isModelVisible">
                  <div class="form-group col-md-4 clearfix">
                    <span class="col-sm-6 bg-light border border-primary">{{language.model}}</span>
                    <span class="col-sm-6 bg-light border border-primary">{{step2_data.model_code}}</span>
                    <hr>
                  </div>
                </div>
                <div class="feature_block">
                  <div class="form-group col-md-4 clearfix bg-primary text-white ">
                    <label class="col-sm-12 col-form-label">{{language.features}}</label>
                  </div>
                  <div class="feature_table">
                    <table class="table table-bordered table-sm">
                      <thead class="thead-dark">
                        <tr>
                          <th *ngFor="let label of feature_itm_list_table_head; let i= index">
                            <span>
                              {{label}}
                            </span>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="" *ngFor="let featurerow of feature_itm_list_table">
                          <td>
                            <input [disabled]="featurerow.FeatureId" type="hidden" class="form-control  form-control-sm mt3" id="type_value" value={{featurerow.FeatureId}}/>
                            <label class="col-sm-12 col-form-label">{{featurerow.featureName}}</label>
                          </td>
                          <td>
                            <label class="col-sm-12 col-form-label">{{featurerow.Item}}</label>
                          </td>
                          <td>
                            <label class="col-sm-12 col-form-label">{{featurerow.Description}}</label>
                          </td>
                          <td>
                            <input type="text" step="0" class="form-control  form-control-sm mt3" style="text-align:right" id="quantity" value={{featurerow.quantity}}
                              (change)="on_feature_input_change('quantity',quantity.value,featurerow.FeatureId,featurerow.Item)"
                              #quantity />
                          </td>
                          <td>
                            <!-- <input type="number" class="form-control  form-control-sm mt3" style="text-align:right" id="price" value={{featurerow.price}}
                      (change)="on_feature_input_change('price',price.value,featurerow.FeatureId,featurerow.Item)" #price /> -->
                            <div class=" input-group">
                              <input type="hidden" ngValue="" class="form-control  form-control-sm mt3" [(ngModel)]="featurerow.price_id" name="priceId"
                                id="priceId">
                              <input type="text" style="text-align:right" ngValue="" class="form-control  form-control-sm mt3" name="price_code" id="price_code"
                                (change)="on_feature_input_change('price',price.value,featurerow.FeatureId,featurerow.Item)"
                                value={{featurerow.price}} #price_code [disabled]="featurerow.isPriceDisabled">
                              <div class="input-group-append" [hidden]=featurerow.pricehide>
                                <span class="input-group-text cursor_icon" id="basic-addon2" (click)="openPriceListLookup()">
                                  <i class="fa fa-bars"></i>
                                </span>
                              </div>
                            </div>
                          </td>
                          <td>
                            <input type="number" class="form-control  form-control-sm mt3" style="text-align:right" id="quantity" value={{featurerow.pricextn}}
                              (change)="on_feature_input_change('priceext',pricextn.value,featurerow.FeatureId,featurerow.Item)"
                              #pricextn />
                          </td>
                          <td>
                            <label class="col-sm-12 col-form-label">{{featurerow.is_accessory}}</label>
                            <!-- <input type="text" [disabled]="true" class="form-control  form-control-sm mt3" style="text-align:right" id="is_accessory" value={{featurerow.is_accessory}}  #is_accessory  /> -->
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <br>
                  <div class="feature_discount_table">
                    <div class="col-md-4 pull-right">
                      <table class="table table-bordered table-sm">
                        <thead class="" style=" font-size: 14px; ">
                          <tr>
                            <th width="70%">{{language.product_discount}}</th>
                            <th width="30%">
                              <input type="number" class="form-control  form-control-sm mt3" style="text-align:right; height: 25px;" id="product_discount"
                                name="product_discount" #product_discount (change)="on_calculation_change('product_discount',product_discount.value)"
                                [(ngModel)]="this.feature_discount_percent" />
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              {{this.language.product_tax}}
                            </td>
                            <td>{{this.feature_item_tax}}</td>
                          </tr>
                          <tr>
                            <td>
                              {{this.language.product_total}}
                            </td>
                            <td>{{this.feature_item_total}}</td>
                          </tr>
                          <tr>
                            <td>
                              {{this.language.accessories_discount}}
                            </td>
                            <td>
                              <input type="number" class="form-control  form-control-sm mt3" style="text-align:right; height: 25px;" id="accessory_item_discount"
                                name="accessory_item_discount" #accessory_item_discount (change)="on_calculation_change('accesory_discount',product_discount.value)"
                                [(ngModel)]="this.accessory_discount_percent" />
                            </td>
                          </tr>
                          <tr>
                            <td>
                              {{this.language.accessories_tax}}
                            </td>
                            <td>{{this.acc_item_tax}}</td>
                          </tr>
                          <tr>
                            <td>
                              {{this.language.accessories_total}}
                            </td>
                            <td>{{this.accessory_item_total}}</td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr style=" font-size: 14px; ">
                            <th>{{this.language.grand_total}}</th>
                            <td>{{this.acc_grand_total}}</td>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
                <!-- <div class="accessories_block">
                  <hr>
                  <div class="form-group col-md-4 clearfix bg-primary text-white ">
                    <label class="col-sm-12 col-form-label">{{language.accessories}}</label>
                  </div>
                  <div class="accessories_table">
                    <table class="table table-bordered table-sm">
                      <thead class="thead-dark">
                        <tr>
                          <th *ngFor="let label of itm_list_table_head; let i= index">
                            <span>
                              {{label}}
                            </span>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                          <tr class="" *ngFor="let accessoryrow of accessory_itm_list_table">
                              <td>
                                  <div class="input-group">
                                      <input [disabled]="accessoryrow.FeatureId" type="hidden" class="form-control  form-control-sm mt3" id="type_value" value={{accessoryrow.FeatureId}}/>
                                <label class="col-sm-12 col-form-label">{{accessoryrow.Item}}</label>
                                  </div>
                              </td>
                              <td>
                                  <div class="input-group">
                                      <label class="col-sm-12 col-form-label">{{accessoryrow.Description}}</label>
                                        </div>
                              </td>
                              <td>
                                  <div class="input-group">
                                <input type="text" class="form-control  form-control-sm mt3" style="text-align:right" id="quantity" value={{accessoryrow.quantity}}
                                  (change)="on_accessory_input_change('quantity',quantity.value,accessoryrow.FeatureId,accessoryrow.Item)" #quantity />
                                </div>
                              </td>
                              <td>
                                <div class="input-group">
                              <input type="text" class="form-control  form-control-sm mt3" style="text-align:right" id="price" value={{accessoryrow.price}}
                                (change)="on_accessory_input_change('price',price.value,accessoryrow.FeatureId,accessoryrow.Item)" #price />
                              </div>
                            </td>
                              <td>
                                  <div class="input-group">
                                <input type="text" class="form-control  form-control-sm mt3" style="text-align:right" id="price" value={{accessoryrow.pricextn}}
                                  (change)="on_accessory_input_change('priceext',pricextn.value,accessoryrow.FeatureId,accessoryrow.Item)" #pricextn />
                                </div>
                              </td>
                            </tr>
                      </tbody>
                    </table>
                  </div>
                  <br>
                  <div class="item_discount_table">
                    <div class="col-md-3 pull-right">
                      <table class="table table-bordered table-sm">
                        <thead class="thead-dark">
                          <tr>
                            <th *ngFor="let label of model_discount_table_head; let i= index">
                              <span>
                                {{label}}
                              </span>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="" *ngFor="let row of item_tax_total">
                            <td *ngFor="let row_data of Object.keys(row); let i= index ">
                              {{row[row_data]}}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div> -->
              </div>
            </div>
          </div>
          <div class="row">
            <div class="f1-buttons col-sm-4 pull-left  model_bom_buttons f1_button_top_border_padding">
              <button type="button" class="btn btn-sm btn-secondary  mr-10" (click)="onclearselection()">
                <i class="fa fa-times fa-fw"></i> {{language.clear_selection}}</button>
              <!-- <button type="button" class="btn btn-sm btn-info  mr-10 ">
                <i class="fa fa-plus-square fa-fw"></i> {{language.add_model}}</button> -->
            </div>
            <div class="f1-buttons col-sm-8 pull-right border-left-primary f1_button_top_border_padding">
              <!-- <button type="button" class="btn btn-sm btn-dark  mr-10 btn-previous" data-previous-block="customer_details">
                <i class="fa fa-arrow-left fa-fw"></i> {{language.previous}}</button> -->
              <button *ngIf="feature_accessory_list.length || feature_itm_list_table.length" type="button" class="btn btn-sm btn-primary  mr-10 btn-next" data-next-block="accept_bom_so" (click)="onModelBillNextPress()">
                <i class="fa fa-arrow-right fa-fw"></i> {{language.next}}</button>
            </div>
          </div>
        </fieldset>

        <fieldset class="one_step_block" data-block_id="accept_bom_so">
          <div class="wizard_heading_section">
            <div class="row bg-primary pb-1 pt-1 wizard_font">
              <div class="col-md-10 pull-left">
                <i class="fa fa-user fa-fw"></i> {{language.verify_select_final}} </div>
              <div class="col-md-2 pull-right text-right"> {{language.step_3_4}} </div>
            </div>
            <hr>
          </div>
          <div class="form_section">
            <div class="row">
              <div class="col-md-3">
                <div class="form-group row clearfix">
                  <label class="col-sm-6 col-form-label">
                    <b>{{language.order_type}}</b>
                  </label>
                  <label class="col-sm-6 col-form-label">{{step1_data.document_name}}</label>
                </div>
                <div class="form-group row clearfix">
                  <label class="col-sm-6 col-form-label">
                    <b>{{language.posting_date}}</b>
                  </label>
                  <label class="col-sm-6 col-form-label">{{step1_data.posting_date | date: 'MM/dd/yyyy' }}</label>
                </div>
                <div class="form-group row clearfix">
                  <label class="col-sm-6 col-form-label">
                    <b>{{language.delivery_date}}</b>
                  </label>
                  <label class="col-sm-6 col-form-label">{{step1_data.delivery_until | date: 'MM/dd/yyyy'}}</label>
                </div>
                <div class="form-group row clearfix">
                  <label class="col-sm-6 col-form-label">
                    <b>{{language.customer}}</b>
                  </label>
                  <label class="col-sm-6 col-form-label">{{step1_data.customer}}</label>
                </div>
                <div class="form-group row clearfix">
                  <label class="col-sm-6 col-form-label">
                    <b>{{language.Name}}</b>
                  </label>
                  <label class="col-sm-6 col-form-label">{{step1_data.customer_name}}</label>
                </div>
                <div class="form-group row clearfix">
                  <label class="col-sm-6 col-form-label">
                    <b>{{language.contact_person}}</b>
                  </label>
                  <label class="col-sm-6 col-form-label">{{step1_data.person_name}}</label>
                </div>
                <div class="form-group row clearfix">
                  <label class="col-sm-6 col-form-label">
                    <b>{{language.ship_to}}</b>
                  </label>
                  <label class="col-sm-6 col-form-label">{{step1_data.ship_to}}</label>
                </div>
                <div class="form-group row clearfix">
                  <label class="col-sm-6 col-form-label">
                    <b>{{language.address}}</b>
                  </label>
                  <label class="col-sm-6 col-form-label">{{step1_data.ship_to_address}}</label>
                </div>
                <div class="form-group row clearfix">
                  <label class="col-sm-6 col-form-label">
                    <b>{{language.bill_to}}</b>
                  </label>
                  <label class="col-sm-6 col-form-label">{{step1_data.bill_to}}</label>
                </div>
                <div class="form-group row clearfix">
                  <label class="col-sm-6 col-form-label">
                    <b>{{language.address}}</b>
                  </label>
                  <label class="col-sm-6 col-form-label">{{step1_data.bill_to_address}}</label>
                </div>
                <!-- <div class="form-group row clearfix">
                  <label class="col-sm-6 col-form-label">
                    <b>{{language.payment_terms}}</b>
                  </label>
                  <label class="col-sm-6 col-form-label">{{step1_data.payment_terms}}</label>
                </div>
                <div class="form-group row clearfix">
                  <label class="col-sm-6 col-form-label">
                    <b>{{language.payment_method}}</b>
                  </label>
                  <label class="col-sm-6 col-form-label">{{step1_data.payment_method}}</label>
                </div> -->
                <div class="form-group row clearfix">
                  <label class="col-sm-6 col-form-label">
                    <b>{{language.sales_employee}}</b>
                  </label>
                  <label class="col-sm-6 col-form-label">{{step1_data.sales_employee}}</label>
                </div>
                <div class="form-group row clearfix">
                  <label class="col-sm-6 col-form-label">
                    <b>{{language.remark}}</b>
                  </label>
                  <label class="col-sm-6 col-form-label">{{step1_data.remark}}</label>
                </div>
              </div>
              <div class="col-md-9 border-left-primary">
                <div class="pull-right">
                  <button type="button" class="mr-10 btn btn-sm btn-outline-danger mb-2" (click)="delete_multiple_final_modal()">
                    <i class="fa fa-trash fa-fw"></i> {{language.delete}}
                  </button>
                </div>
                <div class="step_3_selection_table">
                  <table class="table table-bordered table-sm">
                    <thead class="thead-dark">
                      <tr>
                        <th *ngFor="let label of final_selection_header; let i= index" [hidden]="step3_data_final_hidden_elements[i]">
                          <span>
                            {{label}}
                          </span>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="" *ngFor="let row of step3_data_final">
                        <td *ngFor="let row_data of Object.keys(row); let i= index" [hidden]="step3_data_final_hidden_elements[i]">
                          <span *ngIf="(Object.keys(row).length-1) != i">
                            <span *ngIf="i==0">
                              <input type="checkbox" name="modal_checkbox" #checkedvalue (change)="on_checkbox_checked(checkedvalue, row)">
                            </span>
                            <span *ngIf="i!=0">
                              {{row[row_data]}}
                            </span>
                          </span>
                          <span *ngIf="(Object.keys(row).length-1) == i">
                            <button type="button" class="btn btn-sm mr-10 btn-danger" (click)="remove_final_modal(row)" title="{{language.remove_this_modal}}">
                              <i class="fa fa-times fa-fw"></i>
                            </button>
                          </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="final_item_discount_table">
                  <div class="col-md-3 pull-right">
                    <table class="table table-bordered table-sm">
                      <thead class="" style=" font-size: 14px; ">
                        <tr>
                          <th width="70%">{{language.product_discount}}</th>
                          <th width="30%">
                           {{this.feature_discount_percent}}
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            {{this.language.product_tax}}
                          </td>
                          <td>{{this.feature_item_tax}}</td>
                        </tr>
                        <tr>
                          <td>
                            {{this.language.product_total}}
                          </td>
                          <td>{{this.feature_item_total}}</td>
                        </tr>
                        <tr>
                          <td>
                            {{this.language.accessories_discount}}
                          </td>
                          <td>
                            {{this.accessory_discount_percent}}
                          </td>
                        </tr>
                        <tr>
                          <td>
                            {{this.language.accessories_tax}}
                          </td>
                          <td>{{this.acc_item_tax}}</td>
                        </tr>
                        <tr>
                          <td>
                            {{this.language.accessories_total}}
                          </td>
                          <td>{{this.accessory_item_total}}</td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr style=" font-size: 14px; ">
                          <th>{{this.language.grand_total}}</th>
                          <td>{{this.acc_grand_total}}</td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="f1-buttons">
            <hr>
            <button type="button" class="btn btn-sm btn-dark  mr-10 btn-previous" data-previous-block="model_bom_config">
              <i class="fa fa-arrow-left fa-fw"></i> {{language.previous}}</button>
            <button (click)="onFinishPress()" *ngIf="step3_data_final.length > 0" type="submit" class="btn btn-sm btn-primary  mr-10 btn-submit  btn-next" data-next-block="fina_doc_create">
              <i class="fa fa-check-circle fa-fw"></i> {{language.finish}}</button>
          </div>
        </fieldset>

        <fieldset class="one_step_block" data-block_id="fina_doc_create">
          <div class="wizard_heading_section">
            <div class="row bg-primary pb-1 pt-1 wizard_font">
              <div class="col-md-10 pull-left">
                <i class="fa fa-user fa-fw"></i> {{language.sales_order_creation}} </div>
              <div class="col-md-2 pull-right text-right"> {{language.step_4_4}} </div>
            </div>
            <hr>
          </div>
          <div class="form_section">
            <div class="row">
              <div class="col-sm-3">
                <div class="new item section">
                  <h6>{{language.lsit_of_new_item_created}}</h6>
                  <div id="new_item_list" class="list-group" *ngFor="let new_item of new_item_list">
                    <span class="list-group-item list-group-item-action text-primary" href="javascript:;">{{new_item}}</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-9 border-left-primary">
                <div class="customer_detail_section">
                  <div class="row">
                    <div class="col-md-8">
                      <div class="form-group row clearfix">
                        <label class="col-sm-3 col-form-label">
                          <b>{{language.order_type}}</b>
                        </label>
                        <label class="col-sm-5 col-form-label">{{language.SalesOrder}}</label>
                      </div>
                      <div class="form-group row clearfix">
                        <label class="col-sm-3 col-form-label">
                          <b>{{language.order_status}}</b>
                        </label>
                        <label class="col-sm-5 col-form-label"><b class="final_order_status_class">{{final_order_status}}</b></label>
                      </div>
                      <div class="form-group row clearfix ">
                        <label class="col-sm-3 col-form-label ">
                          <b>{{language.ref_doc_no}}</b>
                        </label>
                        <label class="col-sm-3 col-form-label ">{{final_document_number}}</label>
                      </div>
                      <div class="form-group row clearfix">
                        <label class="col-sm-3 col-form-label">
                          <b>{{language.ref_doc_entry}}</b>
                        </label>
                        <label class="col-sm-3 col-form-label">{{final_ref_doc_entry}}</label>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="pull-right">
                        <button type="button" (click)="refresh_bom_status()" class="mr-10 btn btn-sm btn-outline-primary refresh_btn">
                          <span class="showLoader" [hidden]="showFinalLoader">
                            <i class="fa fa-spinner fa-spin fa-fw"></i> {{this.language.refreshing}}
                          </span>
                          <span class="dontShowLoader" [hidden]="dontShowFinalLoader">
                            <i class="fa fa-refresh fa-fw"></i> {{this.language.refresh}}
                          </span>
                        </button>
                      </div>
                      <div class="clearfix"></div>
                      
                      <div class="form-group row clearfix ">
                        <label class="col-sm-5 col-form-label text-left">
                          <b>{{language.posting_date}}</b>
                        </label>
                        <label class="col-sm-5 col-form-label text-right">{{step1_data.posting_date | date: 'MM/dd/yyyy'}}</label>
                      </div>
                      <div class="form-group row clearfix ">
                        <label class="col-sm-5 col-form-label text-left">
                          <b>{{language.delivery_date}}</b>
                        </label>
                        <label class="col-sm-5 col-form-label text-right">{{step1_data.delivery_date}}</label>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="order_detail_section">
                  <div class="row">
                    <div class="col-md-8">
                      <div class="form-group row clearfix">
                        <label class="col-sm-3 col-form-label">
                          <b>{{language.customer}}</b>
                        </label>
                        <label class="col-sm-4 col-form-label">{{step1_data.customer}}</label>
                      </div>
                      <div class="form-group row clearfix ">
                        <label class="col-sm-2 col-form-label">
                          <b>{{language.name}}</b>
                        </label>
                        <label class="col-sm-4 col-form-label">{{step1_data.name}}</label>
                      </div>
                      <div class="form-group row clearfix ">
                        <label class="col-sm-3 col-form-label">
                          <b>{{language.contact_person}}</b>
                        </label>
                        <label class="col-sm-4 col-form-label">{{step1_data.contact_person}}</label>
                      </div>
                      <div class="form-group row clearfix ">
                        <label class="col-sm-2 col-form-label">
                          <b>{{language.ship_to}}</b>
                        </label>
                        <label class="col-sm-4 col-form-label">{{step1_data.ship_to}}</label>
                        <label class="col-sm-2 col-form-label">
                          <b>{{language.address}}</b>
                        </label>
                        <label class="col-sm-4 col-form-label">{{step1_data.ship_to_address}}</label>
                      </div>
                      <div class="form-group row clearfix ">
                        <label class="col-sm-2 col-form-label">
                          <b>{{language.bill_to}}</b>
                        </label>
                        <label class="col-sm-4 col-form-label">{{step1_data.bill_to}}</label>
                        <label class="col-sm-2 col-form-label">
                          <b>{{language.address}}</b>
                        </label>
                        <label class="col-sm-4 col-form-label">{{step1_data.bill_to_address}}</label>
                      </div>
                    </div>
                    <div class="col-md-4">

                      <div class="form-group row clearfix ">
                        <label class="col-sm-6 col-form-label text-left">
                          <b>{{language.payment_terms}}</b>
                        </label>
                        <label class="col-sm-4 col-form-label text-right">{{step1_data.payment_terms}}</label>
                      </div>
                      <div class="form-group row clearfix ">
                        <label class="col-sm-6 col-form-label text-left">
                          <b>{{language.payment_method}}</b>
                        </label>
                        <label class="col-sm-4 col-form-label text-right">{{step1_data.payment_method}}</label>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="pricing_detail_section">
                  <div class="row">
                    <div class="col-md-3"> </div>
                    <div class="col-md-9">
                      <div class="accessories_table">
                        <table class="table table-bordered table-sm">
                          <thead class="thead-dark">
                            <tr>
                              <th *ngFor="let label of order_creation_table_head; let i= index">
                                <span>
                                  {{label}}
                                </span>
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                          </tbody>
                        </table>
                      </div>
                      <br>
                    </div>
                  </div>
                  <div class="">
                    <div class="col-md-4 pull-left">
                      <div class="form-group row clearfix">
                        <label class="col-sm-7 col-form-label">
                          <b>{{language.sales_employee}}</b>
                        </label>
                        <label class="col-sm-5 col-form-label">{{step1_data.sales_employee}}</label>
                      </div>
                      <div class="form-group row clearfix">
                        <label class="col-sm-7 col-form-label">
                          <b>{{language.remark}}</b>
                        </label>
                        <label class="col-sm-5 col-form-label">{{step1_data.remark}}</label>
                      </div>
                    </div>
                    <div class="item_discount_table">
                      <div class="col-md-4 pull-right">
                        <table class="table table-bordered table-sm">
                          <thead class="thead-dark">
                            <tr>
                              <th>{{this.language.total_before_discount}}</th>
                              <th></th>
                            </tr>
                            <tr>
                              <th *ngFor="let label of model_discount_table_head; let i= index">
                                <span>
                                  {{label}}
                                </span>
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="" *ngFor="let row of item_tax_total">
                              <td *ngFor="let row_data of Object.keys(row); let i= index ">
                                {{row[row_data]}}
                              </td>
                            </tr>
                          </tbody>
                          <tfoot>
                            <tr>
                              <th>{{this.language.total}}</th>
                              <th>$5000/-</th>
                            </tr>
                          </tfoot>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="f1-buttons">
            <hr>
            <!-- <button type="button" class="btn btn-sm btn-dark  mr-10 btn-previous" data-previous-block="accept_bom_so">
              <i class="fa fa-arrow-left fa-fw"></i> {{language.previous}}</button> -->
            <button type="button" class="btn btn-sm btn-danger  mr-10  ">
              <i class="fa fa-times fa-fw"></i> {{language.close}}</button>
            <!--   <button type="submit" class="btn btn-sm btn-primary  mr-10 btn-submit">Submit</button> -->
          </div>
        </fieldset>

      </form>
    </div>
  </div>
</div>


<!--Custom Dialog-->
<app-custom-dialogs *ngIf="show_dialog" [dialogParams]="dialog_params" (userSelectionValue)="get_dialog_value($event)"></app-custom-dialogs>


<app-lookup [lookupfor]='lookupfor' [serviceData]='serviceData' (lookupvalue)="getLookupValue($event) " [selectedImage]="selectedImage"></app-lookup>