<div class="card mb-3">

  <div class="">
    <div class="form-box">
      <form role="form" action="" method="post" class="f1">
        <h3 class="app_title_heading">
          <b>{{language.config_wizard}}</b>
        </h3>
        <div class="f1-steps">
          <div class="f1-progress">
            <div class="f1-progress-line" data-now-value="25%" data-number-of-steps="4" style="width: 25%;"></div>
          </div>
          <div id="customer_details" class="f1-step active f1-step_middle">
            <div class="f1-step-icon">
              <i class="fa fa-user"></i>
            </div>
            <p>{{language.select_customer}}</p>
          </div>
          <div id="model_bom_config" class="f1-step f1-step_middle">
            <div class="f1-step-icon">
              <i class="fa fa-sitemap"></i>
            </div>
            <p>{{language.select_model_bom_config}}</p>
          </div>
          <div id="accept_bom_so" class="f1-step f1-step_middle">
            <div class="f1-step-icon">
              <i class="fa fa-check-circle"></i>
            </div>
            <p>{{language.verify_select_accept}}</p>
          </div>
          <div id="fina_doc_create" class="f1-step f1-step_middle">
            <div class="f1-step-icon">
              <i class="fa fa-eye"></i>
            </div>
            <p>{{language.fianl_document_creat}}</p>
          </div>
        </div>
        <fieldset class="one_step_block" data-block_id="customer_details" style="display:block">
          <div class="wizard_heading_section">
            <div class="row bg-primary pb-1 pt-1 wizard_font">
              <div class="col-md-10 pull-left">
                <i class="fa fa-user fa-fw"></i> {{language.customer_doc_detail}} </div>
              <div class="col-md-2 pull-right text-right"> {{language.step_1_4}} </div>
            </div>
            <hr>
          </div>
          <div class="form_section">
            <div class="row">
              <div class="col-md-7">
                <div class="form-group row clearfix">
                  <label class="col-sm-3 col-form-label" for="customer_doc">{{language.document}}</label>
                  <div class="col-sm-4">
                    <select class="form-control  form-control-sm mt3" name="document" id="document" [(ngModel)]="step1_data.document" (change)= "onDocumentChange(document.value)" #document>
                      <option *ngFor="let v of doctype" [value]="v.value" [selected]="document.value==v.value"> {{v.Name}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-5">
                <div class="form-group row clearfix">
                  <label class="col-sm-4 col-form-label" for="posting_date" class="col-sm-4 col-form-label">{{language.posting_date}}</label>
                  <div class="col-sm-8 input-group">
                      <input [owlDateTimeTrigger]="dt12" [owlDateTime]="dt12" [selectMode]="" class="form-control  form-control-sm mt3" name='posting_date'
                      type="text" value="" id="posting_date" readonly placeholder="{{language.posting_date}}"
                      [(ngModel)]="step1_data.posting_date">
                    <div class="input-group-append">
                      <span class="input-group-text cursor_icon" [owlDateTimeTrigger]="dt12" id="posting_date_icon">
                        <i class="fa fa-calendar"></i>
                      </span>
                    </div>
                    <owl-date-time #dt12 [pickerType]="'calendar'"></owl-date-time>
                  </div>
                </div>
                <div class="form-group row clearfix">
                  <label class="col-sm-4 col-form-label" for="delivery_until" class="col-sm-4 col-form-label">{{document_date}}</label>
                  <div class="col-sm-8 input-group">
                    <input [owlDateTimeTrigger]="dt13" [owlDateTime]="dt13" [selectMode]="" class="form-control  form-control-sm mt3" name='delivery_until'
                      type="text" value="" id="delivery_until" readonly placeholder="{{document_date}}" [(ngModel)]="step1_data.delivery_until">
                    <div class="input-group-append">
                      <span class="input-group-text cursor_icon" [owlDateTimeTrigger]="dt13" id="delivery_until_icon">
                        <i class="fa fa-calendar"></i>
                      </span>
                    </div>
                    <owl-date-time #dt13 [pickerType]="'calendar'"></owl-date-time>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-7">
                <div class="form-group row clearfix">
                  <label class="col-sm-3 col-form-label" for="customer_doc">{{language.customer}}</label>
                  <div class="col-sm-4 input-group">
                    <input type="text" ngValue="" class="form-control form-control-sm mt3" (change)="onCustomerChange()" name="customer" id="customer" placeholder="{{language.customer}}"
                      [(ngModel)]="step1_data.customer" #customer>
                    <div class="input-group-append">
                      <span class="input-group-text cursor_icon" id="basic-addon2" (click)="openCustomerLookUp()">
                        <i class="fa fa-bars"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group row clearfix">
                  <label class="col-sm-3 col-form-label" for="customer_doc">{{language.Name}}</label>
                  <div class="col-sm-4">
                    <input type="text" ngValue="" readonly class="form-control  form-control-sm mt3" name="customer_name" id="customer_name" placeholder="{{language.name}}"
                      [(ngModel)]="step1_data.customer_name" #customername>

                  </div>
                </div>
                <div class="form-group row clearfix">
                  <label class="col-sm-3 col-form-label" for="contact_person">{{language.contact_person}}</label>
                  <div class="col-sm-4">
                    <!-- <input type="text" ngValue="" class="form-control  form-control-sm mt3" name="contact_person" id="contact_person" placeholder="{{language.contact_person}}"
                      [(ngModel)]="step1_data.contact_person" #contactperson> -->

                      <select class="form-control  form-control-sm mt3" #contactperson name="contact_person" id="contact_person">
                          <option *ngFor="let v of contact_persons" [value]="v.value" > {{v.Name}}</option>
                        </select>
                  </div>
                </div>
                <div class="form-group row clearfix">
                  <label class="col-sm-3 col-form-label" for="ship_to">{{language.ship_to}}</label>
                  <div class="col-sm-4">
                   <select class="form-control  form-control-sm mt3" #customerShipTo name="ship_to" id="ship_to" (change)="onShipToChange(customerShipTo.value)">
                      <option [selected]="customerShipTo == v" *ngFor="let v of ship_to" [value]="v.ShipToDef">  {{v.ShipToDef}}</option>
                    </select>
                  </div>

                  

                  <label class="col-sm-2 col-form-label" for="ship_to_address">{{language.address}}</label>
                  <div class="col-sm-3">
                    <textarea type="text" ngValue="" readonly class="form-control  form-control-sm mt3" name="ship_to_address" id="ship_to_address" placeholder="{{language.ship_to_address}}"
                      [(ngModel)]="step1_data.ship_to_address" #shipto></textarea>
                  </div>

                </div>
                <div class="form-group row clearfix">
                  <label class="col-sm-3 col-form-label" for="bill_to">{{language.bill_to}}</label>
                  <div class="col-sm-4">
                      <select class="form-control  form-control-sm mt3" #customerBillTo name="bill_to" id="bill_to"  (change)="onBillToChange(customerBillTo.value)">
                          <option [selected]="customerBillTo == v" *ngFor="let v of bill_to" [value]="v.BillToDef" > {{v.BillToDef}}</option>
                        </select>
                  </div>

                  <label class="col-sm-2 col-form-label" for="bill_to_address">{{language.address}}</label>
                  <div class="col-sm-3">
                    <textarea type="text" rows="3" readonly ngValue="" class="form-control  form-control-sm mt3" name="bill_to_address" id="bill_to_address"
                      placeholder="{{language.bill_to_address}}" [(ngModel)]="step1_data.bill_to_address" #shipto></textarea>
                  </div>
                </div>
              </div>
              <!-- <div class="col-md-5">
                <div class="form-group row clearfix">
                  <label class="col-sm-4 col-form-label" for="payment_terms">{{language.payment_terms}}</label>
                  <div class="col-sm-8">
                    <input type="text" ngValue="" class="form-control  form-control-sm mt3" name="payment_terms" id="payment_terms" placeholder="{{language.payment_terms}}"
                      [(ngModel)]="step1_data.payment_terms" #paymentterms>

                  </div>
                </div>
                <div class="form-group row clearfix">
                  <label class="col-sm-4 col-form-label" for="payment_method">{{language.payment_method}}</label>
                  <div class="col-sm-8">
                    <input type="text" ngValue="" class="form-control  form-control-sm mt3" name="payment_method" id="payment_method" placeholder="{{language.payment_method}}"
                      [(ngModel)]="step1_data.payment_method" #paymentmethod>

                  </div>
                </div>
                <div class="form-group row clearfix">
                  <label class="col-sm-4 col-form-label" for="attachment">{{language.attachment}}</label>
                  <div class="col-sm-8">
                    <input type="file" ngValue="" class="form-control  form-control-sm mt3" name="attachment" id="attachment" placeholder="{{language.attachment}}"
                      [(ngModel)]="step1_data.attachment" #attachment>

                  </div>
                </div>
              </div> -->
            </div>
            <hr>
            <div class="row">
              <div class="col-md-7">
                <div class="form-group row clearfix">
                  <label class="col-sm-3 col-form-label" for="sales_employee">{{language.sales_employee}}</label>
                  <div class="col-sm-4">
                      <select class="form-control  form-control-sm mt3" #contactperson name="sales_employee" id="sales_employee">
                          <option *ngFor="let v of sales_employee" [value]="v.value" > {{v.SlpName}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row clearfix">
                  <label class="col-sm-3 col-form-label" for="owner_list">{{language.owner}}</label>
                  <div class="col-sm-4">
                    <!-- <input type="text" ngValue="" readonly class="form-control  form-control-sm mt3" name="owner" id="owner" placeholder="{{language.owner}}"
                      [(ngModel)]="step1_data.owner" #owner> -->
                      <select class="form-control  form-control-sm mt3" #owner name="owner_list" id="owner_list">
                          <option *ngFor="let v of owner_list" [value]="v.value" > {{v.lastName}}</option>
                        </select>
                  </div>
                </div>
                <div class="form-group row clearfix">
                  <label class="col-sm-3 col-form-label" for="remark">{{language.remark}}</label>
                  <div class="col-sm-4">
                    <textarea type="text" rows="4" ngValue="" class="form-control  form-control-sm mt3" name="remark" id="remark" placeholder="{{language.remark}}"
                      [(ngModel)]="step1_data.remark" #remark> </textarea>

                  </div>
                </div>
              </div>
              <!-- <div class="col-md-5">
                <div class="form-group row clearfix">
                  <label class="col-sm-4 col-form-label" for="tax_code">{{language.tax_code}}</label>
                  <div class="col-sm-8 input-group">
                    <input type="text" ngValue="" class="form-control  form-control-sm mt3" name="tax_code" id="tax_code" placeholder="{{language.tax_code}}"
                      [(ngModel)]="step1_data.tax_code" #taxcode>
                    <div class="input-group-append">
                      <span class="input-group-text cursor_icon" id="basic-addon2" (click)="openTaxCodes()">
                        <i class="fa fa-bars"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
          <div class="f1-buttons">
            <hr>
            <div class="pull-left">
              <button type="button" routerLink="{{view_route_link}}" class="btn btn-sm btn-grey mr-10">
                <i class="fa fa-times fa-fw"></i>
                <span>{{language.cancel}}</span>
              </button>
            </div>
            <button type="button" *ngIf="isNextButtonVisible" class="btn btn-sm btn-primary  mr-10 btn-next btn-sm" data-next-block="model_bom_config">
              <i class="fa fa-arrow-right fa-fw"></i> {{language.next}}</button>
          </div>
        </fieldset>

        <fieldset class="one_step_block" data-block_id="model_bom_config">
          <div class="wizard_heading_section">
            <div class="row bg-primary pb-1 pt-1 wizard_font">
              <div class="col-md-10 pull-left">
                <i class="fa fa-sitemap fa-fw"></i> {{language.model_bill_ofm}} </div>
              <div class="col-md-2 pull-right text-right"> {{language.step_2_4}} </div>
            </div>
            <hr>
          </div>
          <div class="form_section">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group row clearfix">
                  <label class="col-sm-3 col-form-label" for="model">{{language.model}}</label>
                  <div class="col-sm-9 input-group">
                    <input type="text" ngValue="" class="form-control  form-control-sm mt3" name="model" id="model" placeholder="{{language.model}}"
                      [(ngModel)]="step1_data.model" #model>
                    <div class="input-group-append">
                      <span class="input-group-text cursor_icon" id="basic-addon2" (click)="openModalList()">
                        <i class="fa fa-bars"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group row clearfix">
                  <label class="col-sm-3 col-form-label" for="quantity">{{language.quantity}}</label>
                  <div class="col-sm-9">
                    <input type="text" ngValue="" class="form-control  form-control-sm mt3" name="quantity" id="quantity" placeholder="{{language.quantity}}"
                      [(ngModel)]="step1_data.quantity" #quantity>

                  </div>
                </div>
                <hr>
                <div class="form-group row clearfix">
                  <label class="col-sm-3 col-form-label" for="feature">{{language.feature}}</label>
                  <div class="col-sm-9 input-group">
                    <input type="text" ngValue="" class="form-control  form-control-sm mt3" name="feature" id="feature" placeholder="{{language.feature}}"
                      [(ngModel)]="step1_data.feature" #feature>
                    <div class="input-group-append">
                      <span class="input-group-text cursor_icon" id="basic-addon2" (click)="openFeatureLookUp()">
                        <i class="fa fa-bars"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group row clearfix">
                  <label class="col-sm-3 col-form-label" for="feature2"></label>
                  <div class="col-sm-9 input-group">
                    <input type="text" ngValue="" class="form-control  form-control-sm mt3" name="feature2" id="feature2" placeholder="{{language.feature2}}"
                      [(ngModel)]="step1_data.feature2" #feature2>
                    <div class="input-group-append">
                      <span class="input-group-text cursor_icon" id="basic-addon2">
                        <i class="fa fa-bars"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="form-group row clearfix">
                  <label class="col-sm-3 col-form-label" for="accessory">{{language.Model_Accessory}}</label>
                  <div class="col-sm-9 ">
                    <table class="table table-bordered table-sm">
                      <thead class="thead-dark">
                        <tr>
                          <th *ngFor="let label of accessory_table_head; let i= index">
                            <span *ngIf="i==0">
                              <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" id="acccessory_check{{label}}" name="child_checkbox" class="custom-control-input">
                                <label class="custom-control-label" for="acccessory_check{{label}}"></label>
                              </div>
                            </span>
                            <span *ngIf="i!=0">
                              {{label}}
                            </span>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="" *ngFor="let row of feature_accessory_list">
                          <td *ngFor="let row_data of Object.keys(row); let i= index ">
                            <span *ngIf="i==0">
                              <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" id="accesory_{{row[row_data]}}" name="child_checkbox" #checkedvalue (change)="onAccessoryChange(checkedvalue.checked,row)"
                                  class="custom-control-input">
                                <label class="custom-control-label" for="accesory_{{row[row_data]}}"></label>
                              </div>
                            </span>
                            <span *ngIf="i!=0">
                              {{row[row_data]}}
                            </span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-md-8 border-left-primary">
                <div class="form-group col-md-4 clearfix">
                  <span class="col-sm-6 bg-light border border-primary">{{language.model}}</span>
                  <span class="col-sm-6 bg-light border border-primary">Test</span>
                </div>
                <div class="feature_block">
                  <hr>
                  <div class="form-group col-md-4 clearfix bg-primary text-white ">
                    <label class="col-sm-12 col-form-label">{{language.features}}</label>
                  </div>
                  <div class="feature_table">
                    <table class="table table-bordered table-sm">
                      <thead class="thead-dark">
                        <tr>
                          <th *ngFor="let label of feature_itm_list_table_head; let i= index">
                            <span>
                              {{label}}
                            </span>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                  </div>
                  <br>
                  <div class="feature_discount_table">
                    <div class="col-md-3 pull-right">
                      <table class="table table-bordered table-sm">
                        <thead class="thead-dark">
                          <tr>
                            <th *ngFor="let label of model_discount_table_head; let i= index">
                              <span>
                                {{label}}
                              </span>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="" *ngFor="let row of feature_tax_total">
                            <td *ngFor="let row_data of Object.keys(row); let i= index ">
                              {{row[row_data]}}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="accessories_block">
                  <hr>
                  <div class="form-group col-md-4 clearfix bg-primary text-white ">
                    <label class="col-sm-12 col-form-label">{{language.accessories}}</label>
                  </div>
                  <div class="accessories_table">
                    <table class="table table-bordered table-sm">
                      <thead class="thead-dark">
                        <tr>
                          <th *ngFor="let label of itm_list_table_head; let i= index">
                            <span>
                              {{label}}
                            </span>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                  </div>
                  <br>
                  <div class="item_discount_table">
                    <div class="col-md-3 pull-right">
                      <table class="table table-bordered table-sm">
                        <thead class="thead-dark">
                          <tr>
                            <th *ngFor="let label of model_discount_table_head; let i= index">
                              <span>
                                {{label}}
                              </span>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="" *ngFor="let row of item_tax_total">
                            <td *ngFor="let row_data of Object.keys(row); let i= index ">
                              {{row[row_data]}}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="f1-buttons col-sm-4 pull-left  model_bom_buttons f1_button_top_border_padding">
              <button type="button" class="btn btn-sm btn-secondary  mr-10">
                <i class="fa fa-times fa-fw"></i> {{language.clear_selection}}</button>
              <button type="button" class="btn btn-sm btn-info  mr-10 ">
                <i class="fa fa-plus-square fa-fw"></i> {{language.add_model}}</button>
            </div>
            <div class="f1-buttons col-sm-8 pull-right border-left-primary f1_button_top_border_padding">
              <button type="button" class="btn btn-sm btn-dark  mr-10 btn-previous" data-previous-block="customer_details">
                <i class="fa fa-arrow-left fa-fw"></i> {{language.previous}}</button>
              <button type="button" class="btn btn-sm btn-primary  mr-10 btn-next" data-next-block="accept_bom_so">
                <i class="fa fa-arrow-right fa-fw"></i> {{language.next}}</button>
            </div>
          </div>
        </fieldset>

        <fieldset class="one_step_block" data-block_id="accept_bom_so">
          <div class="wizard_heading_section">
            <div class="row bg-primary pb-1 pt-1 wizard_font">
              <div class="col-md-10 pull-left">
                <i class="fa fa-user fa-fw"></i> {{language.verify_select_final}} </div>
              <div class="col-md-2 pull-right text-right"> {{language.step_3_4}} </div>
            </div>
            <hr>
          </div>
          <div class="form_section">
            <div class="row">
              <div class="col-md-3">
                <div class="form-group row clearfix">
                  <label class="col-sm-6 col-form-label">
                    <b>{{language.order_type}}</b>
                  </label>
                  <label class="col-sm-6 col-form-label">{{step1_data.order_typey}}</label>
                </div>
                <div class="form-group row clearfix">
                  <label class="col-sm-6 col-form-label">
                    <b>{{language.posting_date}}</b>
                  </label>
                  <label class="col-sm-6 col-form-label">{{step3_data.posting_date}}</label>
                </div>
                <div class="form-group row clearfix">
                  <label class="col-sm-6 col-form-label">
                    <b>{{language.delivery_date}}</b>
                  </label>
                  <label class="col-sm-6 col-form-label">{{step1_data.delivery_date}}</label>
                </div>
                <div class="form-group row clearfix">
                  <label class="col-sm-6 col-form-label">
                    <b>{{language.customer}}</b>
                  </label>
                  <label class="col-sm-6 col-form-label">{{step1_data.customer}}</label>
                </div>
                <div class="form-group row clearfix">
                  <label class="col-sm-6 col-form-label">
                    <b>{{language.Name}}</b>
                  </label>
                  <label class="col-sm-6 col-form-label">{{step1_data.name}}</label>
                </div>
                <div class="form-group row clearfix">
                  <label class="col-sm-6 col-form-label">
                    <b>{{language.contact_person}}</b>
                  </label>
                  <label class="col-sm-6 col-form-label">{{step1_data.contact_person}}</label>
                </div>
                <div class="form-group row clearfix">
                  <label class="col-sm-6 col-form-label">
                    <b>{{language.ship_to}}</b>
                  </label>
                  <label class="col-sm-6 col-form-label">{{step1_data.ship_to}}</label>
                </div>
                <div class="form-group row clearfix">
                  <label class="col-sm-6 col-form-label">
                    <b>{{language.address}}</b>
                  </label>
                  <label class="col-sm-6 col-form-label">{{step1_data.ship_to_address}}</label>
                </div>
                <div class="form-group row clearfix">
                  <label class="col-sm-6 col-form-label">
                    <b>{{language.bill_to}}</b>
                  </label>
                  <label class="col-sm-6 col-form-label">{{step1_data.bill_to}}</label>
                </div>
                <div class="form-group row clearfix">
                  <label class="col-sm-6 col-form-label">
                    <b>{{language.address}}</b>
                  </label>
                  <label class="col-sm-6 col-form-label">{{step1_data.bill_to_address}}</label>
                </div>
                <div class="form-group row clearfix">
                  <label class="col-sm-6 col-form-label">
                    <b>{{language.payment_terms}}</b>
                  </label>
                  <label class="col-sm-6 col-form-label">{{step1_data.payment_terms}}</label>
                </div>
                <div class="form-group row clearfix">
                  <label class="col-sm-6 col-form-label">
                    <b>{{language.payment_method}}</b>
                  </label>
                  <label class="col-sm-6 col-form-label">{{step1_data.payment_method}}</label>
                </div>
                <div class="form-group row clearfix">
                  <label class="col-sm-6 col-form-label">
                    <b>{{language.sales_employee}}</b>
                  </label>
                  <label class="col-sm-6 col-form-label">{{step1_data.sales_employee}}</label>
                </div>
                <div class="form-group row clearfix">
                  <label class="col-sm-6 col-form-label">
                    <b>{{language.remark}}</b>
                  </label>
                  <label class="col-sm-6 col-form-label">{{step1_data.remark}}</label>
                </div>
              </div>
              <div class="col-md-9 border-left-primary">
                <div class="step_3_selection_table">
                  <table class="table table-bordered table-sm">
                    <thead class="thead-dark">
                      <tr>
                        <th *ngFor="let label of final_selection_header; let i= index">
                          <span>
                            {{label}}
                          </span>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
                <div class="final_item_discount_table">
                  <div class="col-md-3 pull-right">
                    <table class="table table-bordered table-sm">
                      <thead class="thead-dark">
                        <tr>
                          <th *ngFor="let label of model_discount_table_head; let i= index">
                            <span>
                              {{label}}
                            </span>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="" *ngFor="let row of item_tax_total">
                          <td *ngFor="let row_data of Object.keys(row); let i= index ">
                            {{row[row_data]}}
                          </td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <th>
                            <span>{{this.language.total}}</span>
                          </th>
                          <th>$1000/-</th>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="f1-buttons">
            <hr>
            <button type="button" class="btn btn-sm btn-dark  mr-10 btn-previous" data-previous-block="model_bom_config">
              <i class="fa fa-arrow-left fa-fw"></i> {{language.previous}}</button>
            <button type="submit" class="btn btn-sm btn-primary  mr-10 btn-submit  btn-next" data-next-block="fina_doc_create">
              <i class="fa fa-check-circle fa-fw"></i> {{language.finish}}</button>
          </div>
        </fieldset>

        <fieldset class="one_step_block" data-block_id="fina_doc_create">
          <div class="wizard_heading_section">
            <div class="row bg-primary pb-1 pt-1 wizard_font">
              <div class="col-md-10 pull-left">
                <i class="fa fa-user fa-fw"></i> {{language.sales_order_creation}} </div>
              <div class="col-md-2 pull-right text-right"> {{language.step_4_4}} </div>
            </div>
            <hr>
          </div>
          <div class="form_section">
            <div class="row">
              <div class="col-sm-3">
                <div class="new item section">
                  <h6>{{language.lsit_of_new_item_created}}</h6>
                  <div id="new_item_list" class="list-group" *ngFor="let new_item of new_item_list">
                    <span class="list-group-item list-group-item-action text-primary" href="javascript:;">{{new_item}}</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-9 border-left-primary">
                <div class="customer_detail_section">
                  <div class="row">
                    <div class="col-md-8">
                      <div class="form-group row clearfix">
                        <label class="col-sm-2 col-form-label">
                          <b>{{language.order_type}}</b>
                        </label>
                        <label class="col-sm-6 col-form-label">{{language.SalesOrder}}</label>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group row clearfix ">
                        <label class="col-sm-5 col-form-label text-left">
                          <b>{{language.doc_no}}</b>
                        </label>
                        <label class="col-sm-5 col-form-label text-right">10089</label>
                      </div>
                      <div class="form-group row clearfix ">
                        <label class="col-sm-5 col-form-label text-left">
                          <b>{{language.posting_date}}</b>
                        </label>
                        <label class="col-sm-5 col-form-label text-right">{{step4_data.posting_date}}</label>
                      </div>
                      <div class="form-group row clearfix ">
                        <label class="col-sm-5 col-form-label text-left">
                          <b>{{language.delivery_date}}</b>
                        </label>
                        <label class="col-sm-5 col-form-label text-right">{{step1_data.delivery_date}}</label>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="order_detail_section">
                  <div class="row">
                    <div class="col-md-8">
                      <div class="form-group row clearfix">
                        <label class="col-sm-2 col-form-label">
                          <b>{{language.customer}}</b>
                        </label>
                        <label class="col-sm-4 col-form-label">{{step1_data.customer}}</label>
                      </div>
                      <div class="form-group row clearfix ">
                        <label class="col-sm-2 col-form-label">
                          <b>{{language.name}}</b>
                        </label>
                        <label class="col-sm-4 col-form-label">{{step1_data.name}}</label>
                      </div>
                      <div class="form-group row clearfix ">
                        <label class="col-sm-3 col-form-label">
                          <b>{{language.contact_person}}</b>
                        </label>
                        <label class="col-sm-4 col-form-label">{{step1_data.contact_person}}</label>
                      </div>
                      <div class="form-group row clearfix ">
                        <label class="col-sm-2 col-form-label">
                          <b>{{language.ship_to}}</b>
                        </label>
                        <label class="col-sm-4 col-form-label">{{step1_data.ship_to}}</label>
                        <label class="col-sm-2 col-form-label">
                          <b>{{language.address}}</b>
                        </label>
                        <label class="col-sm-4 col-form-label">{{step1_data.ship_to_address}}</label>
                      </div>
                      <div class="form-group row clearfix ">
                        <label class="col-sm-2 col-form-label">
                          <b>{{language.bill_to}}</b>
                        </label>
                        <label class="col-sm-4 col-form-label">{{step1_data.bill_to}}</label>
                        <label class="col-sm-2 col-form-label">
                          <b>{{language.address}}</b>
                        </label>
                        <label class="col-sm-4 col-form-label">{{step1_data.bill_to_address}}</label>
                      </div>
                    </div>
                    <div class="col-md-4">

                      <div class="form-group row clearfix ">
                        <label class="col-sm-6 col-form-label text-left">
                          <b>{{language.payment_terms}}</b>
                        </label>
                        <label class="col-sm-4 col-form-label text-right">{{step1_data.payment_terms}}</label>
                      </div>
                      <div class="form-group row clearfix ">
                        <label class="col-sm-6 col-form-label text-left">
                          <b>{{language.payment_method}}</b>
                        </label>
                        <label class="col-sm-4 col-form-label text-right">{{step1_data.payment_method}}</label>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="pricing_detail_section">
                  <div class="row">
                    <div class="col-md-3"> </div>
                    <div class="col-md-9">
                      <div class="accessories_table">
                        <table class="table table-bordered table-sm">
                          <thead class="thead-dark">
                            <tr>
                              <th *ngFor="let label of order_creation_table_head; let i= index">
                                <span>
                                  {{label}}
                                </span>
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                          </tbody>
                        </table>
                      </div>
                      <br>
                    </div>
                  </div>
                  <div class="">
                    <div class="col-md-3 pull-left">
                      <div class="form-group row clearfix">
                        <label class="col-sm-7 col-form-label">
                          <b>{{language.sales_employee}}</b>
                        </label>
                        <label class="col-sm-5 col-form-label">{{step1_data.sales_employee}}</label>
                      </div>
                      <div class="form-group row clearfix">
                        <label class="col-sm-7 col-form-label">
                          <b>{{language.remark}}</b>
                        </label>
                        <label class="col-sm-5 col-form-label">{{step1_data.remark}}</label>
                      </div>
                    </div>
                    <div class="item_discount_table">
                      <div class="col-md-4 pull-right">
                        <table class="table table-bordered table-sm">
                          <thead class="thead-dark">
                            <tr>
                              <th>{{this.language.total_before_discount}}</th>
                              <th></th>
                            </tr>
                            <tr>
                              <th *ngFor="let label of model_discount_table_head; let i= index">
                                <span>
                                  {{label}}
                                </span>
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="" *ngFor="let row of item_tax_total">
                              <td *ngFor="let row_data of Object.keys(row); let i= index ">
                                {{row[row_data]}}
                              </td>
                            </tr>
                          </tbody>
                          <tfoot>
                            <tr>
                              <th>{{this.language.total}}</th>
                              <th>$5000/-</th>
                            </tr>
                          </tfoot>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="f1-buttons">
            <hr>
            <button type="button" class="btn btn-sm btn-dark  mr-10 btn-previous" data-previous-block="accept_bom_so">
              <i class="fa fa-arrow-left fa-fw"></i> {{language.previous}}</button>
            <button type="button" class="btn btn-sm btn-danger  mr-10  ">
              <i class="fa fa-times fa-fw"></i> {{language.close}}</button>
            <!--   <button type="submit" class="btn btn-sm btn-primary  mr-10 btn-submit">Submit</button> -->
          </div>
        </fieldset>

      </form>
    </div>
  </div>
</div>

<app-lookup [lookupfor]='lookupfor' [serviceData]='serviceData' (lookupvalue)="getLookupValue($event) " [selectedImage]="selectedImage"></app-lookup>