.mr-10 {
  margin-right: 10px;
}

.mt3 {
  margin-top: 3px;
}

.border_top {
  border-top: 1px solid #ccc;
}

.margin_top {
  margin-top: 11px;
}

.padding_top {
  padding-top: 10px;
}

.cursor_icon {
  cursor: pointer;
}

.lookup_data .k-grid-header {
  padding: 0px !important;
  width: 100% !important;
}

.lookup_data .k-grid-header-wrap table {
  width: 100% !important;
}

.k-header {
  width: 50% !important;
}

.lookup_data table.k-grid-table {
  width: 100% !important;
}

.k-grid-table tr td {
  width: 50% !important;
}

.toast-success {
  color: #ffffff !important;
  background-color: #51A351 !important;
  border: #51A351 !important;
}

.toast-error {
  background-color: #BD362F !important;
  border: #BD362F !important;
}

.toast-info {
  background-color: #2F96B4 !important;
  border: #2F96B4 !important;
}

.toast-warning {
  color: #856404 !important;
  background-color: #dea500 !important;
  border: none !important;
}

a.page-link.active {
  background: #007bff;
  color: white;
}

.btn.btn-xs {
  padding: 0.1rem 0.4rem;
  font-size: 0.8rem;
  line-height: 0.1;
  border-radius: .25rem;
  transition: color .15s;
  margin-top: 3px;
}

.row_select, .row_select td {
  cursor: pointer;
}

.row_select:hover {
  background: #003e80;
  color: white;
}

/* For table in lookup */

table.lookup_table {
  height: 500px;
  display: -moz-groupbox;
}

tbody.lookup_table_body tr {
  width: 100%;
  display: inline-table;
  table-layout: fixed;
}

tbody.lookup_table_body {
  overflow-y: scroll;
  height: 470px;
  position: absolute;
}

/* custom css for page width magin and padding - start */

.sidebar_top_margin-3 {
  margin-top: 2rem;
}

.container-top-margin-2 {
  margin-top: 2rem;
}

.header_input_field {
  height: 30px;
}

.search_button {
  height: 30px;
  line-height: 10px !important;
}

.navbar-custom-sm {
  height: 40px;
}

.no-padding {
  padding: 0 !important;
}

.first_menu_padding {
  padding-top: 1rem;
}

.sidebar .nav-item .nav-link {
  padding: 0.4rem !important;
}

mb-3, .my-3 {
  margin-bottom: .4rem !important;
}

.smaller_font {
  font-size: 1rem !important;
}

.breadcrumb_mini_margin {
  padding: .20rem .5rem !important;
}

.card-body {
  padding: 0.5rem !important;
}

.card-header {
  padding: .20rem 0.4rem !important;
}

.btn-group-sm>.btn, .btn-sm {
  padding: .2rem 0.35rem !important;
  font-size: .875rem !important;
  line-height: 1.0 !important;
  border-radius: .2rem !important;
}

.col-form-label {
  /*  padding-top: calc(0.6rem + 1px) !important; */
  padding-top: 0.3rem !important;
  padding-bottom: calc(.45rem + 1px) !important;
  margin-bottom: 0;
  font-size: 0.9rem !important;
  line-height: 1.0 !important;
  font-weight: 500;
}

.table-sm td, .table-sm th {
  padding: 0.1rem 0.5rem !important;
}

.form-control-sm, .input-group-sm>.form-control, .input-group-sm>.input-group-append>.btn, .input-group-sm>.input-group-append>.input-group-text, .input-group-sm>.input-group-prepend>.btn, .input-group-sm>.input-group-prepend>.input-group-text {
  padding: .20rem .5rem !important;
  font-size: .875rem !important;
  line-height: 1.0 !important;
  border-radius: .2rem !important;
}

.form-group {
  margin-bottom: 0.5rem !important;
}

.input-group-sm>.input-group-append>select.btn:not([size]):not([multiple]), .input-group-sm>.input-group-append>select.input-group-text:not([size]):not([multiple]), .input-group-sm>.input-group-prepend>select.btn:not([size]):not([multiple]), .input-group-sm>.input-group-prepend>select.input-group-text:not([size]):not([multiple]), .input-group-sm>select.form-control:not([size]):not([multiple]), select.form-control-sm:not([size]):not([multiple]) {
  height: calc(1.7rem + 1px) !important;
}

.input-group-text {
  margin-top: 0.2rem;
  padding: .2rem .29rem !important;
}

.card-footer {
  padding: .5rem 1.0rem !important;
}

li.breadcrumb-item a, li.breadcrumb-item {
  font-size: 0.8rem;
}

.modal-header {
  padding: 0.2rem 1rem !important;
}

.modal-footer {
  padding: 0.2rem 1rem !important;
}

.modal-body {
  padding: 0.2rem 1rem !important;
}

.dropdown-item {
  padding: .15rem .5rem !important;
}

.dropdown-divider {
  margin: .1rem 0 !important;
}

.mt-3px {
  margin-top: 3px;
}

.pagination, .pagination-sm {
  margin-bottom: 1px !important;
}

.pagination-sm .page-link {
  padding: .1rem .5rem !important;
}

.modal-header .close {
  padding: 0.1rem !important;
  margin: 0 !important;
}

.modal-header .close:active, .modal-header .close:focus, a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
  outline-style: none;
}

.table .thead-dark th {
  font-size: 13px;
}

.mt15 {
  margin-top: 15% !important;
}

/* custom css for page width magin and padding - end */

.mdelbom_image {
  width: 200px;
  max-height: 200px;
}

.row.image_data div {
  margin-bottom: 12px;
}

.table td {
  font-size: 13px;
}

.parent_ul {
  padding-left: 0;
}

.tree {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #fbfbfb;
  border: 1px solid #999;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)
}

.tree li {
  list-style-type: none;
  margin: 0;
  padding: 10px 5px 0 5px;
  position: relative
}

.tree li::before, .tree li::after {
  content: '';
  left: -20px;
  position: absolute;
  right: auto
}

.tree li::before {
  border-left: 1px solid #999;
  bottom: 50px;
  height: 100%;
  top: 0;
  width: 1px
}

.tree li::after {
  border-top: 1px solid #999;
  height: 20px;
  top: 25px;
  width: 25px
}

.tree li span {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #999;
  border-radius: 5px;
  display: inline-block;
  padding: 3px 8px;
  text-decoration: none
}

.tree li.parent_li>span {
  cursor: pointer
}

.tree>ul>li::before, .tree>ul>li::after {
  border: 0
}

.tree li:last-child::before {
  height: 30px
}

.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
  background: #eee;
  border: 1px solid #94a0b4;
  color: #000
}

@media screen and (max-width: 479px) {
  .parent_ul {
    zoom: 1;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .parent_ul {
    zoom: 1;
  }
}

.page_size_left_label {
  width: 11%;
  float: left;
  margin-top: 4px;
  font-size: 12px;
  font-weight: 500;
}

.page_size_center_select {
  width: 30% !important;
  float: left;
  margin: 0 !important;
}

.page_size_right_label {
  width: 30%;
  float: left;
  margin-left: 4px;
  margin-top: 4px;
  font-size: 12px;
  font-weight: 500;
}

ol.breadcrumb.breadcrumb_mini_margin {
  display: none;
}