<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <!-- 1 FOR SQL, And 2 FOR HANA  -->
    <add key="DBServerType" value="2"/>

    <!--dst_MSSQL2012-->


    <add key ="DIServerDataBaseType" value="9"/>
    <!-- 1 FOR SQL, And 2 FOR HANA  -->

    <!--
		For Key = "CanUseDIServerForHANA"
		======================================
		If value is 0 then DIServer is used for FOR SQL. 
		If value is 1 then For POSTING HANA SERVICE LAYER IS USED		
		======================================
	-->
    <add key ="CanUseDIServerForHANA" value ="1"/>

    <add key="CompanyServer" value="172.16.6.50:30015"  />
    <add key="DBServer" value="172.16.6.50:30015"  />
    <add key="DBUserId" value="SYSTEM"  />
    <add key="DBPassword" value="Batch123" />

    <add key="DIServerURL" value="" />
    <add key="ServiceLayerURL" value="" />
    <add key ="DatabaseLanguage" value="ln_English"/>
    <add key="LicenceServer" value="172.16.6.50" />
    <add key="Port" value="40000" />

    <add key="SuperUserId" value="manager" />
    <add key="SAPLicenseServer" value="172.16.6.50"/>



  </appSettings>


</configuration>
