body.body_mobile{
    table.table{
        width: 985px;
        margin-bottom: 0;
        max-width: 985px;
    }
}
body.body_mobile.app_view-feature-model.opti_body-main-module
{
    table.table{
        width: 985px;
        margin-bottom: 0;
        max-width: 985px;
    }
}