
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{page_main_title}}</h1>
  </div>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="javascript:;" routerLink="/home">Dashboard</a>
    </li>
    <li class="breadcrumb-item "><a routerLink="/item-code-generation/view" href="javascript:;">{{page_main_title}}</a></li>
    <li class="breadcrumb-item active">Add</li>
  </ol>
<form class="form-inline"><div class="form-group">
    <label for="usr" style="float: left;">Code:</label>
    <input  type="text" class="form-control" id="usrID" name="code" [(ngModel)]="codekey"/>
    
  </div></form>
  <div style="float: right;">
      <button type="button" class="btn btn-info btn-sm"   (click)="onAddRow()">Add</button> 
  </div>
  

  <div class="table-responsive" style="height:180px; overflow:auto;">
      <form action="/action_page.php" >
      
<table class="table table-bordered" >
  <thead class="thead-dark">
    <tr >
      <th style="width: 10%">#</th>
      <th>String</th>
      <th>Type</th>
      <th>Operations</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of itemcodetable">
        <td> 
            <input [disabled]="true" type="text" class="form-control" id="rowNOID" name="rowNONamr" value={{row.rowindex}}/>
        </td>
      <td name="stringtxtName" [(ngModel)]="row.string">
        <input type="text" class="form-control" id="stringtxt"  value={{row.string}} #stringtxtvalue  (blur)="onStrBlur(stringtxtvalue.value,row.rowindex)"/>      </td>
      <td name="stringtype" [(ngModel)]="row.stringtype">
        <select class="form-control form-control-sm"  #selectedvalue  (change)="onStringTypeSelectChange(selectedvalue.value,row.rowindex)" >
        <option *ngFor="let v of stringtypevalue " [value]="v.value" [selected]="row.stringtype==v.value" > {{v.Name}}</option>
        <!-- <option  value=1>String</option>
        <option value=2>Number</option> -->
      </select></td>
      <td name="operations" [(ngModel)]="row.operations">
        <select class="form-control form-control-sm" #selectedoperationvalue (change)="onStringOperationsSelectChange(selectedoperationvalue.value,row.rowindex)">
            <option *ngFor="let v of opertions" [value]="v.value" [selected]="row.operations==v.value" > {{v.Name}}</option>
        <!-- <option value="1">No Operation</option>
        <option value="2">Increase</option>
        <option value="3">Decrease</option> -->
      </select></td>
      <td name="delete" [(ngModel)]="row.delete" > <button type="button" class="btn btn-danger"  (click)="onDeleteRow(row.rowindex)">Delete</button></td>
     
    </tr>
   
  </tbody>
</table>
</form>

</div>
<form class="form-inline"><div class="form-group">
    <label for="finalstring">Final String:</label>
    <input [disabled]="true" type="text" name="finaltxtstring" [(ngModel)]="finalstring" class="form-control" id="finalstring"/>
    <button type="button" style="float: right;" class="btn btn-info btn-sm"   (click)="onSaveAndUpdate()">Save</button> 
    <button type="button" style="float: right;" class="btn btn-info btn-sm"   (click)="onDelete()">Delete</button> 
  </div></form>
  

