<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top navbar-custom-sm" *ngIf="showHeader">
  <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="javascript:;" style="display:block;">
    <i class="fa fa-bars"></i>
  </button>
  <button class="btn btn-link btn-sm text-white order-1 order-sm-0"><i class="fa fa-cogs"></i></button>
  <a class="navbar-brand mr-1" href="javascript:;" routerLink="/home">{{project_name}}</a>



  <!-- Navbar Search -->
  <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
    <div class="input-group">
      <input type="hidden" class="form-control form-control-sm header_input_field" placeholder="{{this.language.search_for}}" aria-label="Search" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-primary search_button " style="display:none;" type="button">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </form>

  <!-- Navbar -->
 
  <ul class="navbar-nav ml-auto ml-md-0  ml-auto mr-0 mr-md-3 my-2 my-md-0">
   <!--  <li class="nav-item dropdown no-arrow mx-1">
      <a class="nav-link dropdown-toggle" href="javascript:;" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <i class="fa fa-bell fa-fw"></i>
        <span class="badge badge-danger">9+</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
        <a class="dropdown-item" href="javascript:;">Action</a>
        <a class="dropdown-item" href="javascript:;">Another action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="javascript:;">Something else here</a>
      </div>
    </li> -->
    <!-- <li class="nav-item dropdown no-arrow mx-1">
      <a class="nav-link dropdown-toggle" href="javascript:;" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <i class="fa fa-envelope fa-fw"></i>
        <span class="badge badge-danger">7</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
        <a class="dropdown-item" href="javascript:;" (click)="show_success()" ><i class="fa fa-check"></i> success</a>
        <a class="dropdown-item" href="javascript:;" (click)="show_warning()"><i class="fa fa-warning"></i> warning</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="javascript:;" (click)="show_error()"> <i class="f fa-times"></i> error</a>
        <a class="dropdown-item" href="javascript:;" (click)="show_info()"> <i class="fa fa-recycle"></i> info</a>
      </div>
    </li> -->
    <li class="nav-item dropdown no-arrow li_with_dd">
      <a class="nav-link custom_menu_click" href="javascript:;" id="userDropdown">
        <i class="fa fa-user-circle fa-fw"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right custom_menu_click_option" aria-labelledby="userDropdown">
        <a class="dropdown-item" href="javascript:;"><i class="fa fa-user fa-fw"></i> {{this.language.user_profile}}</a>
        <a class="dropdown-item" href="javascript:;"><i class="fa fa-cogs fa-fw"></i> {{this.language.preferences}}</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="javascript:;" (click)="logout()"> <i class="fa fa-sign-out fa-fw"></i> {{this.language.signout}}</a>
      </div>
    </li>
  </ul>

</nav>