  <form >
  <div class="form-group">
    <label for="feature">Model/Feature Code:</label>
    <input type="text" name = ngModel class="form-control" id="feature" placeholder="Model/Feature Code" [(ngModel)]="featureBom.Code">
  </div>
  <div class="form-group">
    <label for="type">Type</label>
    <select class="form-control" id="type" name= ngModel [(ngModel)]="featureBom.type">
      <option>Feature</option>
      <option>Model</option>
    </select>
  </div>
  <div class="form-group">
    <label for="featurename">Model/Feature Name:</label>
    <input type="text" name = ngModel class="form-control" id="featurename" placeholder="Model/Feature Name" [(ngModel)]="featureBom.Name">
  </div>
  <div class="form-group">
    <label for="featureDesc">Model/Feature Description:</label>
    <input type="text" name = ngModel class="form-control" id="featureDesc" placeholder="Model/Feature Description" [(ngModel)]="featureBom.Desc">
  </div>
  <div class="form-group">
    <label for="featureItem">Model Template Item:</label>
    <span class="opti_workorder-icon">
      <input type="text" name = ngModel class="form-control" id="featureItemName" placeholder="Model Template Item" [(ngModel)]="featureBom.ItemName">
    <a href="javascript:;" data-toggle="modal" data-target="#lookup_modal"> <img src="assets/images/common/list.svg" title="Work Order's" class="opti_mouse-pointer" (click)="onTemplateItemPress(true)" alt="work order" width="27px" height="27px" /></a>
    </span>
  </div>
  <div class="form-group">
    <label for="image">Upload Image</label>
    <input type="file" class="form-control-file" id="image">
  </div>
  <div class="form-group row">
    <label for="example-datetime-local-input" class="col-2 col-form-label">Effective Date</label>
    <div class="col-10">
      <input class="form-control" name = ngModel type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input" placeholder="Effective Date" [(ngModel)]="featureBom.Date">
    </div>
  </div>
  <div class="form-group">
    <label for="featureItemCode">Item Code Generation Ref:</label>
    <span class="opti_workorder-icon">
        <input type="text"  class="form-control" name = ngModel id="featureItemCode" placeholder="Item Code Generation Ref" [(ngModel)]="featureBom.Ref">
        <a href="javascript:;"  data-toggle="modal" data-target="#lookup_modal" ><img src="assets/images/common/list.svg" title="Work Order's" class="opti_mouse-pointer" (click)="onItemGenerationPress(true)"  alt="work order" width="27px" height="27px" /></a>
    </span>
  </div>
  <div class="form-group">
    <label for="Status">Status</label>
    <select class="form-control" name = ngModel [(ngModel)]= "featureBom.Status" id="Status">
      <option>Active</option>
      <option>Inactive</option>
    </select>
  </div>
</form>
  <button type="button" (click)="onSaveClick()" class="btn btn-success">Save</button>
  <button type="button" class="btn btn-danger">Delete</button>

  <app-lookup [lookupfor]='lookupfor' [serviceData]='serviceData'></app-lookup>