<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-2 border-bottom">
  <h4 class="h4"><strong> {{page_main_title}}</strong> </h4>
</div>
<ol class="breadcrumb breadcrumb_mini_margin">
  <!--  <li class="breadcrumb-item">
    <a href="javascript:;" routerLink="/home">{{language.dashboard}}</a>
  </li> -->
  <li class="breadcrumb-item ">
    <a routerLink="{{view_route_link}}" href="javascript:;">{{page_main_title}}</a>
  </li>
  <li class="breadcrumb-item active">{{language.add}}</li>
</ol>
<!-- new design -->

<div class="row">
  <div class="col-md-9">
    <div class="card mb-3">
      <form>
        <div class="card-body">
          <div class="form-group row clearfix">
            <label class="col-sm-2 col-form-label" for="featureItemCode">{{language.model}}</label>
            <div class="col-sm-4 input-group">
              <input type="hidden" ngValue="" class="form-control  form-control-sm mt3" [(ngModel)]="modelbom_data.modal_id" name="featureName"  [disabled]="isModelIdEnable" id="featureNameId" placeholder="{{language.model}}" #Modelinputbox (change)="onModelIdChange()">
              <input type="text" ngValue="" class="form-control  form-control-sm mt3" [(ngModel)]="modelbom_data.modal_code" name="featureCode" [disabled]="isModelIdEnable" id="featureCodeId" placeholder="{{language.model}}" #Modelinputboxcode (change)="onModelIdChange()">
              <div class="input-group-append" [hidden]=ModelLookupBtnhide>
                <span class="input-group-text cursor_icon" id="basic-addon2" (click)="openFeatureLookUp()">
                  <i class="fa fa-bars"></i>
                </span>
              </div>
            </div>
          </div>

          <div class="form-group row clearfix">
            <label class="col-sm-2 col-form-label" for="featureDisplay">{{language.Name}}</label>
            <div class="col-sm-4">
              <input type="text" name="feature_name" class="form-control  form-control-sm mt3" id="featuredisplayname" placeholder="{{language.Name}}"
                readonly [(ngModel)]="modelbom_data.feature_name">
            </div>
            <div class="col-sm-4 mt-3px">
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" id="ReadyToUse" name="ReadyToUse" [(ngModel)]="modelbom_data.is_ready_to_use" class="custom-control-input"
                  value=modelbom_data.is_ready_to_use (change)="on_isready_change(isreadyuse)" #isreadyuse [(checked)]=modelbom_data.is_ready_to_use>
                <label class="custom-control-label" for="ReadyToUse">{{language.ReadyToUse}}</label>
              </div>
            </div>
          </div>

          <div class="form-group row clearfix">
            <!-- <label class="col-sm-2 col-form-label"></label> -->

          </div>


          <div class="form-group row clearfix">
            <label class="col-sm-2 col-form-label" for="featureDesc">{{language.description}}</label>
            <div class="col-sm-4">
              <input type="text" name="feature_desc" class="form-control  form-control-sm mt3" id="featureDesc" placeholder="{{language.description}}"
                readonly [(ngModel)]="modelbom_data.feature_desc">
            </div>
          </div>

          <!-- <div class="form-group row clearfix">
        <label class="col-sm-2 col-form-label" for="image">{{language.image}}</label>
        <div class="col-sm-4">
          <input type="text" name='image_path' readonly class="form-control  form-control-sm mt3-file" id="image" [(ngModel)]="modelbom_data.image_path">
        </div> -->

          <div class="form-group row clearfix" *ngIf="showImageBlock">
            <label class="col-sm-2 col-form-label" for="image">{{language.image}}</label>
            <div class="col-sm-4">
              <div class="row image_data">
                <div class=" col-md-4 col-sm-4">
                  <a href="javascript:;" data-toggle="modal" data-target="#enlarge_image_modal" (click)="enlage_image(header_image_data)">
                    <img src="{{header_image_data}}" class="img-thumbnail rounded float-left mdelbom_image" alt="">
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-1 p-0">
            <a href="javascript:;" class="btn btn-outline-primary btn-sm mt-1" title="{{language.add_row}} " (click)="onAddRow()" #button>
              <i class="fa fa-plus"></i>
            </a>
          </div>
          <hr>
          <div class="">
            <div class="col-md-12 p-0">
              <button type="button" (click)="on_rule_click()" class="btn btn-sm btn-secondary  mr-10">
                <i class="fa fa-circle"></i> {{language.rule}}</button>
            </div>
          </div>
          <br>
          <div class="col-sm-12 p-0">
            <div class="table-responsive table-responsive-sm">
              <table class="table opti_fixed-header top-table table-bordered  table-sm" id="dataTable" cellspacing="0" >
                <thead class="thead-dark">
                  <tr>
                    <th width="3%">#</th>
                    <th width="9%">{{language.Model_Type}}</th>
                    <th width="12%">{{language.ModelBom_FeatureValue}}</th>
                    <th width="9%">{{language.Bom_Displayname}}</th>
                    <th width="5%">{{language.uom}}</th>
                    <th width="6%">{{language.Bom_Qty}}</th>
                    <th width="9%">{{language.min_selectable}}</th>
                    <th width="9%">{{language.max_selectable}}</th>
                    <th width="9%">{{language.propagate_qty}}</th>
                    <th width="8%">{{language.price_source}}</th>
                    <th width="7%">{{language.mandatory}}</th>
                    <th width="10%">{{language.unique_identifier}}</th>
                    <th width="4%">
                      <i class="fa fa-trash"></i>
                    </th>
                    <!-- <th width="4%">{{language.remove}}</th> -->
                  </tr>
                </thead>
                <tbody style="position: relative;" [perfectScrollbar]="" [disabled]="isPerfectSCrollBar">
                  <tr *ngFor="let row of modelbom_data">
                    <td width="3%">
                      <input [disabled]="true" type="text" class="form-control  form-control-sm mt3 field-nobg-noborder" id="rowNOID" name="rowNONamr" value={{row.rowindex}}/>
                    </td>
                    <td width="9%">
                      <select class="form-control  form-control-sm mt3" #selectedvalue (change)="on_bom_type_change(selectedvalue.value,row.rowindex)">
                        <option *ngFor="let v of commonData.model_bom_type " [value]="v.value" [selected]="row.type==v.value"> {{v.Name}}</option>
                      </select>
                    </td>
                    <td width="12%">
                      <div class="input-group">
                        <input [disabled]="row.isTypeDisabled" type="hidden" class="form-control  form-control-sm mt3" id="type_value" (change)="on_typevalue_change(type_value.value,row.rowindex, type_value_code.value)"
                          value={{row.type_value}} #type_value />

                        <input [disabled]="row.isTypeDisabled" type="text" class="form-control  form-control-sm mt3" id="type_value_code" (change)="on_typevalue_change(type_value.value,row.rowindex, type_value_code.value)"
                          value={{row.type_value_code}} #type_value_code />
                        <div class="input-group-append" [hidden]=row.hide>
                          <span class="input-group-text cursor_icon" id="basic-addon2" (click)="on_type_click(selectedvalue.value, row.rowindex)">
                            <i class="fa fa-bars"></i>
                          </span>
                        </div>
                      </div>

                    </td>
                    <td width="9%">
                      <input type="text" class="form-control  form-control-sm mt3" id="display_name" value={{row.display_name}} (change)="on_display_name_change(display_name.value,row.rowindex)"
                        #display_name />
                    </td>
                    <td width="5%">
                      <input type="text" [disabled]="row.isUOMDisabled" class="form-control  form-control-sm mt3" id="uom" value={{row.uom}} (change)="on_uom_change(uom.value,row.rowindex)"
                        #uom />
                    </td>
                    <td width="6%">
                      <input type="text" class="form-control  form-control-sm mt3" style="text-align:right" id="quantity" value={{row.quantity}}
                        (change)="on_quantity_change(quantity.value,row.rowindex)" #quantity />
                    </td>
                    <td width="9%">
                      <input type="text" [disabled]="row.isMinSelectedDisable" class="form-control  form-control-sm mt3" style="text-align:right" id="min_selected" value={{row.min_selected}}
                        (change)="on_min_selected_change(min_selected.value,row.rowindex,min_selected)" #min_selected />
                    </td>
                    <td width="9%">
                      <input type="text" [disabled]="row.isMaxSelectedDisable" class="form-control  form-control-sm mt3 pull-right" style="text-align:right" id="max_selected" value={{row.max_selected}}
                        (change)="on_max_selected_change(max_selected.value,row.rowindex,max_selected)" #max_selected />
                    </td>
                    <td width="9%">
                      <input type="checkbox" class="form-control  form-control-sm mt15 pull-right" id="propagate_qty" value={{row.propagate_qty}}
                        (change)="on_propagate_qty_change(propagate_qty,row.rowindex)" [(checked)]=row.propagate_qty #propagate_qty
                      />
                    </td>
                    <td width="8%">
                      <div class="input-group">
                        <input type="text" class="form-control  form-control-sm mt3" id="price_source" value={{row.price_source}} (change)="on_price_source_change(price_source.value,row.rowindex)"
                          #price_source [disabled]="row.isPriceDisabled" />
                        <div class="input-group-append" [hidden]=row.pricehide>
                          <span class="input-group-text cursor_icon" id="basic-addon2" (click)="openPriceLookUp(row.type_value,row.rowindex)">
                            <i class="fa fa-bars"></i>
                          </span>
                        </div>
                      </div>
                    </td>
                    <td width="7%">
                      <input type="checkbox" class="form-control  form-control-sm mt15" id="mandatory" value={{row.mandatory}} (change)="on_mandatory_change(mandatory,row.rowindex)"
                        #mandatory [(checked)]=row.mandatory/>
                    </td>
                    <td width="10%">
                      <input type="checkbox" class="form-control  form-control-sm mt15" id="unique_identifer" value={{row.unique_identifer}} [(checked)]=row.unique_identifer
                        (change)="on_unique_identifer_change(unique_identifer,row.rowindex)" #unique_identifer />
                    </td>
                    <td width="4%">
                      <button type="button" class="btn btn-outline-danger btn-sm" (click)="onDeleteRow(row.rowindex)">
                        <i class="fa fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>

          <!--   <div class="form-group row clearfix" *ngIf="showImageBlock">
            <label class="col-sm-2 col-form-label" for="image">{{language.image}}</label>
            <div class="col-sm-4">
              <div class="row image_data">
                <div class=" col-md-4 col-sm-4">
                  <a href="javascript:;" data-toggle="modal" data-target="#enlarge_image_modal" (click)="enlage_image(header_image_data)">
                    <img src="{{header_image_data}}" class="img-thumbnail rounded float-left mdelbom_image" alt="">
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-1">
            <a href="javascript:;" class="btn btn-outline-primary btn-sm mt-1" title="{{language.add_row}} " (click)="onAddRow()" #button>
              <i class="fa fa-plus"></i>
            </a>
          </div>
          <hr>
          <div class="">
            <div class="col-md-12">
              <button type="button" (click)="on_rule_click()" class="btn btn-sm btn-secondary  mr-10">
                <i class="fa fa-circle"></i> {{language.rule}}</button>
            </div>
          </div>
          <br>

          <hr> -->
          <!-- <div class="clearfix"></div>
              <div class="row image_data" *ngIf="showImageBlock">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" *ngFor="let image of image_data" style="width: 100px;">
                  <a href="javascript:;" data-toggle="modal" data-target="#enlarge_image_modal" (click)="enlage_image(image)">
                    <img src="{{image}}" class="img-thumbnail rounded float-left mdelbom_image" alt="">
                  </a>
                </div>
              </div>
              <div class="clearfix"></div> -->

        </div>
        <div class="card-footer small text-muted">
          <div class="footer-buttons">
            <div class="row">
              <div class="col-md-8">
                <div class="pull-left">
                  <button type="button" (click)="onSave()" *ngIf="isSaveButtonVisible" class="btn btn-sm btn-primary  mr-10">
                    <i class="fa fa-save"></i> {{language.save}}</button>
                  <button type="button" *ngIf="isUpdateButtonVisible" (click)="onSave()" class="btn btn-sm btn-primary mr-10">
                    <i class="fa fa-save"></i> {{language.update}}</button>
                  <button type="button" (click)="onExplodeClick()" *ngIf="isExplodeButtonVisible" class="btn btn-sm btn-secondary  mr-10">
                    <i class="fa fa-window-maximize"></i> {{language.explode}}
                  </button>

                  <button type="button" (click)="onVerifyOutput()" *ngIf="isVerifyButtonVisible" class="btn btn-sm btn-secondary  mr-10">
                    <i class="fa fa-window-maximize"></i> {{language.verify_output}}
                  </button>
                </div>
              </div>
              <div class="col-md-4">
                <div class="pull-right">
                  <button type="button" routerLink="{{view_route_link}}" class="btn btn-sm btn-grey mr-10">
                    <i class="fa fa-times fa-fw"></i>
                    <span>{{language.cancel}}</span>
                  </button>

                  <button type="button" class="btn btn-sm btn-danger" *ngIf="isDeleteButtonVisible" (click)="onDelete()">
                    <i class="fa fa-trash fa-fw"></i>
                    <span>{{language.delete}}</span>
                  </button>
                  <!-- only view when edit mode -->

                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-3 opti_overflow-auto" style="max-height: 570px;">
    <div class="tree well">
      <ul class="parent_ul" *ngIf="tree_data_json.length > 0">
        <div *ngFor="let element of tree_data_json; let i= index;">
          <li *ngIf="element.level == 0 && element.parentId==''">
            <span>
              <i class="fa fa-circle"></i> {{element.component}}
            </span>
            <treeview [tree_data_json]="check_component_exist(element.component, i)" [complete_dataset]="tree_data_json" *ngIf="check_component_exist(element.component, i).length > 0"></treeview>
          </li>
        </div>
      </ul>
    </div>
  </div>

</div>

<app-lookup [lookupfor]='lookupfor' [ruleselected]='ruleselected' [serviceData]='serviceData' (lookupvalue)="getLookupValue($event)"
  [selectedImage]="selectedImage"></app-lookup>


<!--Custom Dialog-->
<app-custom-dialogs *ngIf="show_dialog" [dialogParams]="dialog_params" (userSelectionValue)="get_dialog_value($event)"></app-custom-dialogs>