
<div id="opti_dashboardID">
    <div class="opti_dashboard-inner opti_vertical-align w-100 text-center pt-5">
        
        <div class="opti_dash-logo mb-2">
            <img width="250" class="img-responsive" src="{{imgPath}}/logo_configurator/logo/logo1.png" alt="logo" />
        </div> 
        <h1 class="display-1 text-danger font-weight-bold">404</h1>
        <h4 class="text-danger font-weight-bold mb-4">PAGE NOT FOUND</h4>        
        <p class="lead">You can
            <a href="javascript:history.back()" class="font-weight-bold">go back</a>
            to the previous page, <br/>or
            <a href="javascript:;" routerLink="/home" class="font-weight-bold">return home</a>.
        </p>

    </div>
</div>