<ul class="sidebar navbar-nav sidebar_top_margin-3 toggled" style=" height: 100%;" >
  <!-- <li class="nav-item active first_menu_padding">
    <a class="nav-link" routerLink="home" href="javascript:;">
      <i class="fa fa-home fa-fw"></i>
      <span>{{this.language.dashboard}}</span>
    </a>
  </li> -->

  <div *ngFor="let menuRow of menu_obj">
      <li class="nav-item">
          <a class="nav-link" href='javascript:;' (click)="onMenuPress(getMenuDetails(menuRow.OPTM_MENUID))" routerLink="{{(getMenuDetails(menuRow.OPTM_MENUID))[0].router_link}}">
              <i class="fa fa-fw fa-table"></i>
              <span>{{(getMenuDetails(menuRow.OPTM_MENUID))[0].menu_title}}</span>
            </a>
          </li>        
  </div>  
  
 

</ul>