<!-- <nav class="col-md-2 bg-light sidebar d-none d-md-block" [hidden]="!showSidebar">
  <div class="sidebar-sticky collapse navbar-collapse" id="sidebar_menu">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#">
          <i class="fa fa-home"></i>
          Dashboard
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-file"></i>
          Orders
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-shopping-cart"></i>
          Products
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-users"></i>
          Customers
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-file-invoice"></i>
          Reports
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-bars"></i>
          Integrations
        </a>
      </li>
    </ul>
    <hr>
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Saved reports</span>
      <a class="d-flex align-items-center text-muted" href="#">
        <i class="fa fa-plus"></i>
      </a>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-file-text"></i>
          Current month
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-file-text"></i>
          Last quarter
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-file-text"></i>
          Social engagement
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-file-text"></i>
          Year-end sale
        </a>
      </li>
    </ul>
  </div>
</nav> -->

<div class="nav-side-menu col-md-2" >
  <!-- <div class="brand">Brand Logo</div> -->
 

  <div class="menu-list">

    <ul id="menu-content" class="menu-content collapse out">
      <li>
        <a href="#">
          <i class="fa fa-dashboard fa-lg"></i> Dashboard
        </a>
      </li>

      <li data-toggle="collapse" data-target="#products" class="collapsed active">
        <a href="#">
          <i class="fa fa-gift fa-lg"></i> UI Elements
          <span class="arrow"></span>
        </a>
      </li>
      <ul class="sub-menu collapse" id="products">
        <li class="active">
          <a href="#">CSS3 Animation</a>
        </li>
        <li>
          <a href="#">General</a>
        </li>
        <li>
          <a href="#">Buttons</a>
        </li>
        <li>
          <a href="#">Tabs & Accordions</a>
        </li>
        <li>
          <a href="#">Typography</a>
        </li>
        <li>
          <a href="#">FontAwesome</a>
        </li>
        <li>
          <a href="#">Slider</a>
        </li>
        <li>
          <a href="#">Panels</a>
        </li>
        <li>
          <a href="#">Widgets</a>
        </li>
        <li>
          <a href="#">Bootstrap Model</a>
        </li>
      </ul>


      <li data-toggle="collapse" data-target="#service" class="collapsed">
        <a href="#">
          <i class="fa fa-globe fa-lg"></i> Services
          <span class="arrow"></span>
        </a>
      </li>
      <ul class="sub-menu collapse" id="service">
        <li>New Service 1</li>
        <li>New Service 2</li>
        <li>New Service 3</li>
      </ul>


      <li data-toggle="collapse" data-target="#new" class="collapsed">
        <a href="#">
          <i class="fa fa-car fa-lg"></i> New
          <span class="arrow"></span>
        </a>
      </li>
      <ul class="sub-menu collapse" id="new">
        <li>New New 1</li>
        <li>New New 2</li>
        <li>New New 3</li>
      </ul>


      <li>
        <a href="#">
          <i class="fa fa-user fa-lg"></i> Profile
        </a>
      </li>

      <li>
        <a href="#">
          <i class="fa fa-users fa-lg"></i> Users
        </a>
      </li>
    </ul>
  </div>
</div>