@import 'item_code/_item_code_mobile_layout';
@import 'feature_model/_feature_model_mobile_layout';
@import 'feature_bom/_feature_bom_mobile_layout';
body.body_mobile{
    table.table{
        width: 985px;
        margin-bottom: 0;
        max-width: 985px;
    }
}