<div class="top-content">

  <div class="inner-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-2 text-center text">
          <h1> {{page_title}}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 form-box">
          <div class="form-top">
            <div class="form-top-left">
              <h3>{{language.login}}</h3>
              <p>{{language.titleInfo}}</p>
            </div>
            <div class="form-top-right">
              <i class="fa fa-key"></i>
            </div>
          </div>
          <div class="form-bottom">
            <form role="form" action="" method="post" class="login-form" (keydown)="enter_to_sublit($event)">
              <div class="form-group">
                <label class="sr-only" for="form-username">{{language.username}}</label>
                <input type="text" name="form-username" placeholder="{{language.isUsernameBlank}}" class="form-username form-control" id="form-username"  [(ngModel)]="loginCredentials.userName" (change)="onUserNameBlur()">
              </div>
              <div class="form-group">
                <label class="sr-only" for="form-password">{{language.password}}</label>
                <input type="password" name="form-password" placeholder="{{language.isPasswordBlank}}" class="form-password form-control" id="form-password" [(ngModel)]="loginCredentials.password" (change)="onPasswordBlur()">
              </div>
              <button type="button" class="btn" (click)="onConnectBtnPress()" ><i class="fa fa-plug"></i> {{language.connect}}</button>
              <div class="company_section" >
              <hr>
                <div class="form-group" *ngIf="showCompDropDown">
                  <label class="sr-only" for="form-company">{{language.company}}</label>
                  <select type="company" name="form-company" placeholder="{{language.CompanyRequired}}" class="form-username form-control" id="form-company" [(ngModel)]="selecetedComp">
                    <option value="">Select a company</option>
                    <!-- <option value="aps">APS</option>
                    <option value="configurator">Configurator</option> -->
                    <option *ngFor="let cmp of assignedCompanies" [ngValue]="cmp">{{cmp.OPTM_COMPID}}</option>
                  </select>
                </div>
                <button type="button" class="btn" (click)="onLoginBtnPress()" *ngIf="showLoginBtn"><i class="fa fa-sign-in" ></i> {{language.login}}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      
    </div>
  </div>

</div>



<div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 971px; width: 100%; z-index: -999999; position: fixed;">
  <img [src]="background" style="/* position: absolute; */margin: 0px;padding: 0px;border: none; width: 100%;height: 971px;max-height: none;max-width: none;z-index: -999999;left: -53.25px;top: 0px;">
</div>