body.body_mobile.add-rule-web
{
    table.table.opti_fixed-header.top-table{
        width: 1070px;
        margin-bottom: 0;
        max-width: 1070px;
    }
    table.table.opti_fixed-header.output-table{
        width: 1000px;
        margin-bottom: 0;
        max-width: 1000px;
    }
}