.opti_overflow-auto{
    overflow: auto;
}

.opti_fixed-header{
    min-width: 1130px;
}

.top-table{
    tbody {
        td{}
        tr{}
        tr:nth-child(odd) {}
    }
    tbody td, thead th {}
    tbody tr td:last-child {
        button{
            margin-top: 5px;
        }
    }
}