<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center ">
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 pl-0 pr-0">
                <div class="opti_module-title"> {{language.Bom_title}} </div>
            </div>
            <div class="col-md-6 pl-0 pr-0">
                <div class="float-right" style="cursor: pointer;" (click)="toggleTree($event)">
                    <div class="btn btn-sm btn-secondary" style="margin-top: 8px;">
                        <i class="fa fa-sitemap"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>    

</div>
<ol class="breadcrumb breadcrumb_mini_margin">
    <!--  <li class="breadcrumb-item" style="display:none;">
        <a href="javascript:;" routerLink="/home">
            <i class="fa fa-home fa-fw"></i>
            <span>{{language.dashboard}}</span>
        </a>
    </li> -->
    <li class="breadcrumb-item ">
        <a routerLink="{{view_route_link}}" href="javascript:;">{{language.Bom_title}}</a>
    </li>
    <li class="breadcrumb-item active">{{language.add}}</li>
</ol>

<div class="row">
    

    <div class="col-md-12" id="left-table-section">
        <div class="card mb-3">


            <form name="bom_feature_form" class="form-horizontal">
                <!--  <div class="card-header">
                    <i class="fa fa-file"></i> {{language.Model_Add}}</div> -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">


                            <div class="form-group row clearfix">
                                <label class="col-sm-4 col-form-label" for="featureItemCode">{{language.Feature_Code}}</label>
                                <div class="col-sm-5 input-group">
                                    <input type="text" ngValue="" [disabled]="isFeatureIdEnable" class="form-control  form-control-sm mt3" [(ngModel)]="feature_bom_data.feature_code"
                                        name="featureNameCode" id="featureNameCode" (change)="onFeatureIdChange()" placeholder="{{language.Feature_Code}}"
                                        #featureinputbox title="{{feature_bom_data.feature_code}}">
                                    <input type="hidden" ngValue="" [disabled]="isFeatureIdEnable" class="form-control  form-control-sm mt3" [(ngModel)]="feature_bom_data.feature_id"
                                        name="featureName" id="featureNameId" (change)="onFeatureIdChange()" placeholder="{{language.Feature_Code}}"
                                        #featureinputbox title="{{feature_bom_data.feature_id}}">
                                    <div class="input-group-append" [hidden]=FeatureLookupBtnhide>
                                        <span class="input-group-text cursor_icon" id="basic-addon2" (click)="openFeatureLookUp()">
                                            <i class="fa fa-bars"></i>
                                        </span>
                                    </div>
                                </div>

                            </div>

                            <div class="form-group row clearfix">
                                <label class="col-sm-4 col-form-label" for="featureDisplay">{{language.Bom_Displayname}}</label>
                                <div class="col-sm-5">
                                    <input type="text" name="feature_name" class="form-control  form-control-sm mt3" id="featuredisplayname" placeholder="{{language.Bom_Displayname}}"
                                        readonly [(ngModel)]="feature_bom_data.feature_name" title="{{feature_bom_data.feature_name}}">
                                </div>
                            </div>

                            <div class="form-group row clearfix">
                                <label class="col-sm-4 col-form-label" for="featureDesc">{{language.Bom_FeatureDesc}}</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control  form-control-sm mt3" id="featureDesc" name="feature_desc" placeholder="{{language.Bom_FeatureDesc}}"
                                        readonly [(ngModel)]="feature_bom_data.feature_desc" title="{{feature_bom_data.feature_desc}}">
                                </div>
                            </div>

                            <div class="form-group row clearfix" *ngIf="showImageBlock">
                                <label class="col-sm-4 col-form-label" for="image">{{language.image}}</label>
                                <div class="col-sm-5">
                                    <div class="row image_data">
                                        <div class=" col-md-4 col-sm-4">
                                            <a href="javascript:;" data-toggle="modal" data-target="#enlarge_image_modal" (click)="enlage_image(header_image_data)">
                                                <img src="{{header_image_data}}" class="img-thumbnail rounded float-left mdelbom_image" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row clearfix">
                                <label class="col-sm-4 col-form-label" for="Accessory">{{language.Model_Accessory}}</label>
                                <div class="col-sm-5 mt-3px">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="yes" name="featureAccessory" [(ngModel)]="feature_bom_data.is_accessory" class="custom-control-input"
                                            value="Y" title="{{this.language.YES}}">
                                        <label class="custom-control-label" for="yes">&nbsp; {{this.language.YES}}</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline ml-2">
                                        <input type="radio" [disabled]="true" id="no" name="featureAccessory" [(ngModel)]="feature_bom_data.is_accessory" class="custom-control-input"
                                            value="N" title="{{this.language.NO}}">
                                        <label class="custom-control-label" for="no">&nbsp; {{this.language.NO}}</label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <a href="javascript:;" class="btn btn-outline-primary btn-sm mt-1" title="{{language.add_row}} " (click)="onAddRow()" #button>
                                        <i class="fa fa-plus"></i> {{language.add_row}}
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>




                    
                    <div class="col-sm-12 p-0">
                        <div class="table-responsive table-responsive-sm table-bordered">
                            <table class="table opti_fixed-header top-table   table-sm" id="dataTable" cellspacing="0" >
                                <thead class="thead-dark">
                                    <tr>
                                        <th width="4%">#</th>
                                        <th width="8%">{{language.Model_Type}}</th>
                                        <th width="12%">{{language.Bom_FeatureValue}}</th>
                                        <th width="9%">{{language.Bom_Displayname}}</th>
                                        <th width="6%">{{language.Bom_Qty}}</th>
                                        <th width="6%">{{language.Bom_Default}}</th>
                                        <th width="6%">{{language.Bom_Remarks}}</th>
                                        <th width="10%">{{language.propagate_qty}}</th>
                                        <th width="12%">{{language.price_source}}</th>
                                        <th width="12%">{{language.Bom_Attach}}</th>
                                        <th width="10%">{{language.image}}</th>
                                        <th width="5%">
                                            <i class="fa fa-trash"></i>
                                        </th>
                                        <!-- <th width="4%">{{language.remove}}</th> -->
                                    </tr>
                                </thead>
                                <tbody style="position: relative;" [perfectScrollbar]="" [disabled]="isPerfectSCrollBar">
                                    <tr *ngFor="let row of feature_bom_table">
                                        <td width=4%;>
                                            <input [disabled]="true" type="text" class="form-control field-nobg-noborder form-control-sm" id="rowNOID" name="rowNONamr" value={{row.rowindex}}/>
                                        </td>
                                        <td width=8%;>
                                            <select class="form-control  form-control-sm" #selectedvalue (change)="on_bom_type_change(selectedvalue.value,row.rowindex)">
                                                <option *ngFor="let v of detail_select_options " [value]="v.value" [selected]="row.type==v.value" > {{v.Name}}</option>
                                            </select>
                                        </td>
                                        <td width=12%;>
                                            <div class="input-group">
                                                <input [disabled]="row.isTypeDisabled" type="text" class="form-control  form-control-sm" id="type_value_code" (change)="on_typevalue_change(type_value.value,row.rowindex, type_value_code.value,type_value_code)"
                                                    value={{row.type_value_code}} #type_value_code title="{{row.type_value_code}}"  />
                                                <input [disabled]="row.isTypeDisabled" type="hidden" class="form-control  form-control-sm" id="type_value" (change)="on_typevalue_change(type_value.value,row.rowindex, type_value_code.value)"
                                                    value={{row.type_value}} #type_value  title="{{row.type_value}}" />
                                                <div class="input-group-append" [hidden]=row.hide>
                                                    <span class="input-group-text cursor_icon basic-addon2-table" id="basic-addon2" (click)="on_type_change(selectedvalue.value, row.rowindex)">
                                                        <i class="fa fa-bars"></i>
                                                    </span>
                                                </div>
                                            </div>


                                        </td>
                                        <td width=9%;>
                                            <input [disabled]="row.isDisplayNameDisabled" type="text" class="form-control  form-control-sm" id="display_name" (change)="on_displayname_change(display_name.value,row.rowindex)"
                                                value={{row.display_name}} #display_name title="{{row.display_name}}"  />


                                        </td>
                                        <td width=6%;> 
                                            <input type="text" [disabled]="row.isQuanityDisabled" style="text-align:right" class="form-control  form-control-sm"
                                                id="quantity" (change)="on_quantity_change(quantity.value,row.rowindex)" value={{row.quantity}}
                                                #quantity title="{{row.quantity}}" />
                                        </td>
                                        <td width=6%;>
                                            <input type="checkbox" value="1" class="form-control  form-control-sm"  id="default" (change)="on_defualt_change(default,row.rowindex)"
                                                value={{row.default}} #default [(checked)]=row.default title="{{row.default}}" />
                                        </td>
                                        <td width=6%;>
                                            <input type="text" class="form-control  form-control-sm" id="remark" (change)="on_remark_change(remark.value,row.rowindex)"
                                                value={{row.remark}} #remark title="{{row.remark}}" />

                                        </td>
                                        <td width=10%;>
                                            <input type="checkbox" class="form-control  form-control-sm  pull-right" id="propagate_qty" value={{row.propagate_qty}}
                                              (change)="on_propagate_qty_change(propagate_qty,row.rowindex)" [(checked)]=row.propagate_qty [disabled]="row.isPropagateQtyDisable" #propagate_qty
                                             title="{{row.propagate_qty}}" />
                                          </td>
                                          <td width=12%;>
                                            <div class="input-group">
                                              <input type="text" class="form-control  form-control-sm" id="price_source" value={{row.price_source}} (change)="on_price_source_change(price_source.value,row.rowindex)"
                                                #price_source [disabled]="row.isPriceDisabled" title="{{row.price_source}}" />
                                              <div class="input-group-append" [hidden]=row.pricehide>
                                                <span class="input-group-text cursor_icon basic-addon2-table" id="basic-addon2" (click)="openPriceLookUp(row.type_value,row.rowindex)">
                                                  <i class="fa fa-bars"></i>
                                                </span>
                                              </div>
                                            </div>
                                          </td>
                                        <td width=12%;>
                                            <div class="btn btn-outline-secondary btn-file btn-sm "> {{language.choose_image}}
                                                <input type="file" class="form-control  form-control-sm " id="attachment" name="attachmentname" #attachment (change)="uploaddetailfile(attachment.files,row.rowindex)"
                                                />
                                            </div>
                                        </td>
                                        <td width=10%;>
                                            <div class="clearfix"></div>
                                            <div class="image_data" *ngIf="row.preview">
                                                <div>
                                                    <!-- class="col-md-2" style="width:150px" -->
                                                    <a href="javascript:;" data-toggle="modal" data-target="#enlarge_image_modal" (click)="enlage_image(row.preview)">
                                                        <img src="{{row.preview}}" class="img-thumbnail rounded  mdelbom_image inner_table_image" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </td>
                                        <td width=5%;>
                                            <button type="button" class="btn btn-outline-danger btn-sm" (click)="onDeleteRow(row.rowindex)" title="{{this.language.delete}}">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- <hr> -->

                </div>
                <div class="card-footer small text-muted">
                    <div class="footer-buttons">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="pull-left">
                                    <button type="button" (click)="onSaveClick()" *ngIf="isSaveButtonVisible" class="btn btn-sm btn-primary  mr-10">
                                        <i class="fa fa-save"></i> {{language.save}}</button>
                                    <button type="button" *ngIf="isUpdateButtonVisible" (click)="onSaveClick()" class="btn btn-sm btn-primary mr-10">
                                        <i class="fa fa-save"></i> {{language.update}}</button>

                                    <button type="button" *ngIf="isExplodeButtonVisible" (click)="onExplodeClick()" class="btn btn-sm btn-secondary  mr-10">
                                        <i class="fa fa-window-maximize"></i> {{language.explode}}
                                    </button>

                                    <button type="button" *ngIf="isAssociatedBOMButtonVisible" class="btn btn-sm btn-secondary  mr-10" (click)="onAssociatedBOMClick()">
                                        <i class="fa fa-window-maximize"></i> {{language.associated_BOM}}
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="pull-right">
                                    <button type="button" routerLink="{{view_route_link}}" class="btn btn-sm btn-grey mr-10">
                                        <i class="fa fa-times fa-fw"></i>
                                        <span>{{language.cancel}}</span>
                                    </button>

                                    <button type="button" class="btn btn-sm btn-danger" *ngIf="isDeleteButtonVisible" (click)="onDeleteClick()">
                                        <i class="fa fa-trash fa-fw"></i>
                                        <span>{{language.delete}}</span>
                                    </button>
                                    <!-- only view when edit mode -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-3 d-none" id="right-tree-section">
        <div class="opti_overflow-auto">
            <div class="tree well">
                <ul class="parent_ul" *ngIf="tree_data_json.length > 0">
                    <div *ngFor="let element of tree_data_json; let i= index;">
                        <li *ngIf="element.level == 0 && element.parentId==''">
                            <span>
                                <!-- <i class="fa fa-circle"></i>  -->
                                {{element.component}}
                            </span>
                            <treeview [tree_data_json]="check_component_exist(element.component, i)" [complete_dataset]="tree_data_json" *ngIf="check_component_exist(element.component, i).length > 0"></treeview>
                        </li>
                    </div>
                </ul>
            </div>
        </div>    
    </div>
</div>

<!-- <hr> -->


<app-lookup [lookupfor]='lookupfor' [serviceData]='serviceData' (lookupvalue)="getLookupValue($event)" [selectedImage]="selectedImage"></app-lookup>


<!--Custom Dialog-->
<app-custom-dialogs *ngIf="show_dialog" [dialogParams]="dialog_params" (userSelectionValue)="get_dialog_value($event)"></app-custom-dialogs>